@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "utilities/variables";
@import "utilities/universal";

* {
    margin: 0;
}

html, body {
    font-family: $frutigerRoman;
    background-color: #fff;
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    @include media($mobile) {
        overflow-x: hidden;
    }

}


/* ---------hamburger --------------*/

nav,  #nav-icon4 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#nav-icon4 {
    visibility: hidden;
    @include media($tablet) {
        visibility: visible;
    position: absolute;
    z-index: 99;
    width: 20px;
    height:70px;
    cursor: pointer;
    top:15px;
    right:30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }
    @include media($mobile) {
        visibility: visible;
    position: absolute;
    z-index: 99;
    width: 20px;
    height:70px;
    cursor: pointer;
    top:15px;
    right:30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }
}

#nav-icon4 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $gray;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}



#nav-icon4 span:nth-child(1) {
    top: 8px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}


#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

nav.open {
        @include media($tablet){
            visibility: hidden;
            position: fixed;
            left: 0;
            z-index: 10;
            background-color: #000;
            opacity: 0.8;
            width: 100%;
            height: 100%;
            text-align: center;
            ul {
                padding-top: 60px;
                vertical-align: middle;
                padding-left: 0 !important;
                height: 500px;
                overflow: scroll;
                li {
                    list-style: none;
                    margin-bottom: 20px;
                    a {
                        font-size: 25px;
                        color: #b2b2b2;
                        text-decoration: none;
                    }
                }
            }
        }
        @include media($mobile){
            visibility: hidden;
            position: fixed;
            left: 0;
            z-index: 10;
            background-color: #000;
            opacity: 0.8;
            width: 100%;
            height: 100%;
            text-align: center;
            ul {
                padding-top: 60px;
                vertical-align: middle;
                padding-left: 0 !important;
                height: 500px;
                overflow: scroll;
                li {
                    list-style: none;
                    margin-bottom: 20px;
                    a {
                        font-size: 25px;
                        color: #b2b2b2;
                        text-decoration: none;
                    }
                }
            }
        }
    }


@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) { 
    nav.open ul {
        padding-top: 100px;
        vertical-align: middle;
        padding-left: 0 !important;
        height: 300px;
        overflow: scroll;
    }
}


@media screen and (min-width: 768px) {
    nav.open {
        display: none;
    }
    
}


nav.open {
            
    ul.overlay {
        li {


            a.menu-mob {
                @include media($tablet) {
                    font-family: $frutigerLightCond !important;
                    list-style: none;
                }
                @include media($mobile) {
                    font-family: $frutigerLightCond !important;
                }
            }
        }
    }
}







/*MEDIA QUERY*/
/*@media only screen and (max-width : 768px) {

	#menu-icon {

		display:inline-block;

	}

	nav.open ul.overlay, nav:active ul.overlay { 

		    display: none;
		    position: fixed;
		    
		    right: 0;
		    top: 0px; 
		    width: 100%;
		    height: 100%;
		    background-color: gray;
				

	}

	nav.open li.mm {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav.open:hover ul.overlay {

		display: block;

	}*/