html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*font-family:'FrutigerLTW01-45Light';
font-family:'FrutigerLTW01-46LightIt';
font-family:'FrutigerLTW01-55Roman';
font-family:'FrutigerLTW01-56Italic';
font-family:'Frutiger LT W01_65 Bold';
font-family:'FrutigerLTW01-66BoldIta';
font-family:'FrutigerLTW01-75Black';
font-family:'FrutigerLTW01-76BlackIt';
font-family:'FrutigerLTW01-95UltraBl';
font-family:'FrutigerLTW01-47LightCn';
font-family:'FrutigerLTW01-48LightCn';
font-family:'FrutigerLTW01-67BoldCn';
font-family:'FrutigerLTW01-68BoldCnI';
font-family:'FrutigerLTW01-87ExtraBk';
font-family:'FrutigerLTW01-88XBkCnIt';
font-family:'Frutiger LT W04_45 Light';
font-family:'Frutiger LT W04_46 Ligh1459266';
font-family:'Frutiger LT W04_55 Roman';
font-family:'Frutiger LT W04_56 Italic';
font-family:'Frutiger LT W04_65 Bold';
font-family:'Frutiger LT W04_66 Bold Italic';
font-family:'Frutiger LT W04_75 Black';
font-family:'Frutiger LT W04_76 Blac1459278';
font-family:'Frutiger LT W04_95 Ultra Black';
font-family:'Frutiger LT W04_47 Light Cond';
font-family:'Frutiger LT W04_67 Bold Cond';
font-family:'Frutiger LT W04_77 Black Cond';
font-family:'Frutiger LT W04_87 X Bl1459298';*/
/*function do_something(data, colors) {
   do something with "data" and "colors"
}
var list_of_stuff = [1,2,3,4];

do_something(list_of_stuff, "blue");*/
.vertical_center_parent {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  /*justify-content: center;*/ }

.global_pad, div.intro-box div.inner_banner, section.people-single-mobile {
  padding: 2em 40px; }
  @media screen and (max-width: 768px) {
    .global_pad, div.intro-box div.inner_banner, section.people-single-mobile {
      padding: 2em 40px; } }
  @media screen and (max-width: 480px) {
    .global_pad, div.intro-box div.inner_banner, section.people-single-mobile {
      padding: 2em 30px; } }

.sidepad, .inner_header {
  padding: 0 40px; }
  @media screen and (max-width: 768px) {
    .sidepad, .inner_header {
      padding: 0 40px; } }
  @media screen and (max-width: 480px) {
    .sidepad, .inner_header {
      padding: 0 30px; } }

@media screen and (max-width: 768px) {
  .inner_header h1 a {
    float: left;
    display: block;
    margin-right: 4.7619047619%;
    width: 169.8412698413%; }
    .inner_header h1 a:last-child {
      margin-right: 0; } }

h2.title-person-single {
  color: #A3A9AC;
  font-size: 1rem;
  float: left;
  display: block;
  margin-right: 2.3255813953%;
  width: 48.8372093023%;
  font-family: "FrutigerLTW01-67BoldCn", helvetica, sans serif; }
  @media screen and (max-width: 768px) {
    h2.title-person-single {
      font-size: 1rem; } }
  @media screen and (max-width: 480px) {
    h2.title-person-single {
      font-size: 0.9375rem; } }
  h2.title-person-single:last-child {
    margin-right: 0; }
  h2.title-person-single p {
    font-family: "FrutigerLTW01-47LightCn", helvetica, sans serif; }
  @media screen and (max-width: 768px) {
    h2.title-person-single {
      float: left;
      display: block;
      margin-right: 4.7619047619%;
      width: 204.7619047619%;
      padding-bottom: 2em; }
      h2.title-person-single:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    h2.title-person-single {
      float: left;
      display: block;
      margin-right: 10%;
      width: 100%;
      padding-bottom: 2em; }
      h2.title-person-single:last-child {
        margin-right: 0; } }

div.description-person-single {
  float: left;
  display: block;
  margin-right: 2.3255813953%;
  width: 40.3100775194%;
  color: #A3A9AC;
  font-size: 1rem;
  font-family: "FrutigerLTW01-47LightCn", helvetica, sans serif; }
  div.description-person-single:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    div.description-person-single {
      font-size: 1rem; } }
  @media screen and (max-width: 480px) {
    div.description-person-single {
      font-size: 0.9375rem; } }
  @media screen and (max-width: 768px) {
    div.description-person-single {
      float: left;
      display: block;
      margin-right: 4.7619047619%;
      width: 100%;
      padding-bottom: 2em; }
      div.description-person-single:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    div.description-person-single {
      float: left;
      display: block;
      margin-right: 10%;
      width: 100%;
      padding-bottom: 2em; }
      div.description-person-single:last-child {
        margin-right: 0; } }

/*--------- blue intro box -----*/
div.intro-box {
  width: 100%;
  height: 200px;
  background-color: #004FB1; }
  @media screen and (max-width: 768px) {
    div.intro-box {
      height: 250px; } }
  div.intro-box div.inner_banner {
    max-width: 75em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    position: relative;
    height: 100%; }
    div.intro-box div.inner_banner::after {
      clear: both;
      content: "";
      display: table; }
    div.intro-box div.inner_banner div.page-name {
      float: left;
      display: block;
      margin-right: 2.3255813953%;
      width: 48.8372093023%; }
      div.intro-box div.inner_banner div.page-name:last-child {
        margin-right: 0; }
      div.intro-box div.inner_banner div.page-name h1 {
        font-family: "FrutigerLTW01-67BoldCn", helvetica, sans serif;
        font-size: 1.5em;
        color: #b2b2b2;
        padding-bottom: 50px; }
    div.intro-box div.inner_banner div p {
      float: left;
      display: block;
      margin-right: 2.3255813953%;
      width: 40.3100775194%;
      font-family: "FrutigerLTW01-47LightCn", helvetica, sans serif;
      font-size: 1.5em;
      line-height: 1.2;
      color: #b2b2b2; }
      div.intro-box div.inner_banner div p:last-child {
        margin-right: 0; }
      @media screen and (max-width: 768px) {
        div.intro-box div.inner_banner div p {
          float: left;
          display: block;
          margin-right: 4.7619047619%;
          width: 47.619047619%; }
          div.intro-box div.inner_banner div p:last-child {
            margin-right: 0; } }
      @media screen and (max-width: 480px) {
        div.intro-box div.inner_banner div p {
          float: left;
          display: block;
          margin-right: 10%;
          width: 100%;
          font-size: 1em; }
          div.intro-box div.inner_banner div p:last-child {
            margin-right: 0; } }

@media screen and (max-width: 768px) {
  section.sliderContainer {
    display: none !important; } }
section.people-single-mobile {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  section.people-single-mobile::after {
    clear: both;
    content: "";
    display: table; }
  section.people-single-mobile div.person-single {
    float: left;
    display: block;
    margin-right: 2.3255813953%;
    width: 23.2558139535%;
    background-color: #eee;
    margin-top: 1em;
    margin-bottom: 1em;
    position: relative;
    display: none; }
    section.people-single-mobile div.person-single:last-child {
      margin-right: 0; }
    section.people-single-mobile div.person-single:nth-child(4n) {
      margin-right: 0; }
    section.people-single-mobile div.person-single:nth-child(4n+1) {
      clear: left; }
    @media screen and (max-width: 768px) {
      section.people-single-mobile div.person-single {
        float: left;
        display: block;
        margin-right: 4.7619047619%;
        width: 47.619047619%;
        visibility: none !important; }
        section.people-single-mobile div.person-single:last-child {
          margin-right: 0; }
        section.people-single-mobile div.person-single:nth-child(2n) {
          margin-right: 0; }
        section.people-single-mobile div.person-single:nth-child(2n+1) {
          clear: left; } }
    @media screen and (max-width: 480px) {
      section.people-single-mobile div.person-single {
        visibility: visible !important; } }
    section.people-single-mobile div.person-single div.person_name-single {
      position: absolute;
      height: 60px;
      bottom: 0;
      background-color: rgba(0, 79, 177, 0.6);
      width: 100%;
      padding: 0 1em; }
      section.people-single-mobile div.person-single div.person_name-single h1 {
        line-height: 35px;
        color: #fff;
        color: #fff;
        font-size: 1rem;
        font-family: "FrutigerLTW01-47LightCn", helvetica, sans serif; }
        @media screen and (max-width: 768px) {
          section.people-single-mobile div.person-single div.person_name-single h1 {
            font-size: 1rem; } }
        @media screen and (max-width: 480px) {
          section.people-single-mobile div.person-single div.person_name-single h1 {
            font-size: 0.9375rem; } }
        @media screen and (max-width: 768px) {
          section.people-single-mobile div.person-single div.person_name-single h1 {
            line-height: 25px;
            font-size: 10pt; } }
        @media screen and (max-width: 480px) {
          section.people-single-mobile div.person-single div.person_name-single h1 {
            line-height: 20px;
            font-size: 8pt; } }
      section.people-single-mobile div.person-single div.person_name-single p {
        line-height: 20px;
        color: #fff;
        font-size: 10pt;
        font-family: "FrutigerLTW01-47LightCn", helvetica, sans serif; }
        @media screen and (max-width: 768px) {
          section.people-single-mobile div.person-single div.person_name-single p {
            line-height: 15px;
            font-size: 9pt; } }
        @media screen and (max-width: 480px) {
          section.people-single-mobile div.person-single div.person_name-single p {
            line-height: 15px;
            font-size: 8pt; } }
      section.people-single-mobile div.person-single div.person_name-single p:hover {
        opacity: 1; }
      section.people-single-mobile div.person-single div.person_name-single a {
        color: #fff;
        text-decoration: none; }
    section.people-single-mobile div.person-single div.person_name:hover {
      background-color: rgba(0, 0, 0, 0.6); }

/* ------ scroll side to side-----*/
section.sliderContainer {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  section.sliderContainer::after {
    clear: both;
    content: "";
    display: table; }
  section.sliderContainer .slider {
    float: left;
    display: block;
    margin-right: 2.3255813953%;
    width: 100%;
    margin-top: 70px;
    height: 185px;
    position: relative; }
    section.sliderContainer .slider:last-child {
      margin-right: 0; }
    section.sliderContainer .slider #viewContainer {
      float: left;
      display: block;
      margin-right: 2.3255813953%;
      width: 82.9457364341%;
      height: 100%;
      position: absolute;
      left: 430px;
      margin-left: -360px;
      overflow: scroll; }
      section.sliderContainer .slider #viewContainer:last-child {
        margin-right: 0; }
      section.sliderContainer .slider #viewContainer #insideContainer {
        position: absolute;
        left: 0;
        width: 3000px; }
        section.sliderContainer .slider #viewContainer #insideContainer .person-single {
          background-color: #eee;
          position: relative;
          width: 150px;
          vertical-align: top;
          display: inline-block; }
          section.sliderContainer .slider #viewContainer #insideContainer .person-single img.person_headshot {
            height: 150px; }
          section.sliderContainer .slider #viewContainer #insideContainer .person-single div.person_name-single {
            position: absolute;
            height: 50px;
            bottom: 0;
            background-color: rgba(0, 79, 177, 0.6);
            width: 100%;
            padding: 0 1em; }
            section.sliderContainer .slider #viewContainer #insideContainer .person-single div.person_name-single h1 {
              margin-top: 5px;
              line-height: 20px;
              color: #fff;
              color: #fff;
              font-size: 1rem;
              font-family: "FrutigerLTW01-47LightCn", helvetica, sans serif; }
              @media screen and (max-width: 768px) {
                section.sliderContainer .slider #viewContainer #insideContainer .person-single div.person_name-single h1 {
                  font-size: 1rem; } }
              @media screen and (max-width: 480px) {
                section.sliderContainer .slider #viewContainer #insideContainer .person-single div.person_name-single h1 {
                  font-size: 0.9375rem; } }
              @media screen and (max-width: 768px) {
                section.sliderContainer .slider #viewContainer #insideContainer .person-single div.person_name-single h1 {
                  line-height: 25px;
                  font-size: 10pt; } }
            section.sliderContainer .slider #viewContainer #insideContainer .person-single div.person_name-single p {
              line-height: 20px;
              color: #fff;
              font-size: 8pt;
              font-family: "FrutigerLTW01-47LightCn", helvetica, sans serif; }
              @media screen and (max-width: 768px) {
                section.sliderContainer .slider #viewContainer #insideContainer .person-single div.person_name-single p {
                  line-height: 15px;
                  font-size: 9pt; } }
            section.sliderContainer .slider #viewContainer #insideContainer .person-single div.person_name-single p:hover {
              opacity: 1; }
            section.sliderContainer .slider #viewContainer #insideContainer .person-single div.person_name-single a {
              color: #fff;
              text-decoration: none; }
          section.sliderContainer .slider #viewContainer #insideContainer .person-single div.person_name:hover {
            background-color: rgba(0, 0, 0, 0.6); }

#leftArrow {
  top: 2pt;
  width: 1.5em;
  height: 1.5em;
  border-right: 0.2em solid #004fb1;
  border-top: 0.2em solid #004fb1;
  margin: 60px 60px 0 0;
  transform: rotate(225deg); }

#leftArrow:hover {
  top: 2pt;
  width: 1.5em;
  height: 1.5em;
  border-right: 0.2em solid #b2b2b2;
  border-top: 0.2em solid #b2b2b2;
  margin: 60px 60px 0 0;
  transform: rotate(225deg); }

#rightArrow {
  top: 2pt;
  width: 1.5em;
  height: 1.5em;
  border-right: 0.2em solid #004fb1;
  border-top: 0.2em solid #004fb1;
  margin: 60px 60px 0 0;
  transform: rotate(45deg);
  position: absolute;
  right: 0; }

#rightArrow:hover {
  top: 2pt;
  width: 1.5em;
  height: 1.5em;
  border-right: 0.2em solid #b2b2b2;
  border-top: 0.2em solid #b2b2b2;
  margin: 60px 60px 0 0;
  transform: rotate(45deg);
  position: absolute;
  right: 0; }

    /*margin: 60px 60px 0 0;
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #b2b2b2;

/* ------ single page people banners -----*/
.page_banner_robert {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 550px;
  margin: 0 auto;
  background: url("../images/people/single/robert-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_robert::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_robert {
      background: url("../images/people/single/robert-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_robert {
      background: url("../images/people/single/robert-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }

.page_banner_jay {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 550px;
  margin: 0 auto;
  background: url("../images/people/single/jay-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_jay::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_jay {
      background: url("../images/people/single/jay-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_jay {
      background: url("../images/people/single/jay-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }

.page_banner_rossana {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 550px;
  margin: 0 auto;
  background: url("../images/people/single/rossana-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_rossana::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_rossana {
      background: url("../images/people/single/rossana-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_rossana {
      background: url("../images/people/single/rossana-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }

.page_banner_cgcrane {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 550px;
  margin: 0 auto;
  background: url("../images/people/single/cgcrane-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_cgcrane::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_cgcrane {
      background: url("../images/people/single/cgcrane-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_cgcrane {
      background: url("../images/people/single/cgcrane-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }

.page_banner_sonny {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 550px;
  margin: 0 auto;
  background: url("../images/people/single/sonny-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_sonny::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_sonny {
      background: url("../images/people/single/sonny-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_sonny {
      background: url("../images/people/single/sonny-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }

.page_banner_lea {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 550px;
  margin: 0 auto;
  background: url("../images/people/single/lea-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_lea::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_lea {
      background: url("../images/people/single/lea-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_lea {
      background: url("../images/people/single/lea-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }

.page_banner_charlie {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 550px;
  margin: 0 auto;
  background: url("../images/people/single/charlie-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_charlie::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_charlie {
      background: url("../images/people/single/charlie-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_charlie {
      background: url("../images/people/single/charlie-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }

.page_banner_koren {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 550px;
  margin: 0 auto;
  background: url("../images/people/single/koren-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_koren::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_koren {
      background: url("../images/people/single/koren-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_koren {
      background: url("../images/people/single/koren-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }

.page_banner_josh {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 550px;
  margin: 0 auto;
  background: url("../images/people/single/josh-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_josh::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_josh {
      background: url("../images/people/single/josh-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_josh {
      background: url("../images/people/single/josh-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }

.page_banner_olivia {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 550px;
  margin: 0 auto;
  background: url("../images/people/single/olivia-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_olivia::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_olivia {
      background: url("../images/people/single/olivia-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_olivia {
      background: url("../images/people/single/olivia-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }

.page_banner_bryce {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 550px;
  margin: 0 auto;
  background: url("../images/people/single/bryce-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_bryce::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_bryce {
      background: url("../images/people/single/bryce-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_bryce {
      background: url("../images/people/single/bryce-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }

.page_banner_alex {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 550px;
  margin: 0 auto;
  background: url("../images/people/single/alex-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_alex::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_alex {
      background: url("../images/people/single/alex-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_alex {
      background: url("../images/people/single/alex-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }

.page_banner_oak {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 550px;
  margin: 0 auto;
  background: url("../images/people/single/oak-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_oak::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_oak {
      background: url("../images/people/single/oak-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_oak {
      background: url("../images/people/single/oak-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }

.page_banner_bowdy {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 550px;
  margin: 0 auto;
  background: url("../images/people/single/bowdy-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_bowdy::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_bowdy {
      background: url("../images/people/single/bowdy-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_bowdy {
      background: url("../images/people/single/bowdy-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }

.page_banner_lisa {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 550px;
  margin: 0 auto;
  background: url("../images/people/single/lisa-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_lisa::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_lisa {
      background: url("../images/people/single/lisa-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_lisa {
      background: url("../images/people/single/lisa-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }

.page_banner_phil {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 550px;
  margin: 0 auto;
  background: url("../images/people/single/phil-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_phil::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_phil {
      background: url("../images/people/single/phil-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_phil {
      background: url("../images/people/single/phil-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }

.page_banner_grant {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 550px;
  margin: 0 auto;
  background: url("../images/people/single/grant-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_grant::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_grant {
      background: url("../images/people/single/grant-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_grant {
      background: url("../images/people/single/grant-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }
