html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*font-family:'FrutigerLTW01-45Light';
font-family:'FrutigerLTW01-46LightIt';
font-family:'FrutigerLTW01-55Roman';
font-family:'FrutigerLTW01-56Italic';
font-family:'Frutiger LT W01_65 Bold';
font-family:'FrutigerLTW01-66BoldIta';
font-family:'FrutigerLTW01-75Black';
font-family:'FrutigerLTW01-76BlackIt';
font-family:'FrutigerLTW01-95UltraBl';
font-family:'FrutigerLTW01-47LightCn';
font-family:'FrutigerLTW01-48LightCn';
font-family:'FrutigerLTW01-67BoldCn';
font-family:'FrutigerLTW01-68BoldCnI';
font-family:'FrutigerLTW01-87ExtraBk';
font-family:'FrutigerLTW01-88XBkCnIt';
font-family:'Frutiger LT W04_45 Light';
font-family:'Frutiger LT W04_46 Ligh1459266';
font-family:'Frutiger LT W04_55 Roman';
font-family:'Frutiger LT W04_56 Italic';
font-family:'Frutiger LT W04_65 Bold';
font-family:'Frutiger LT W04_66 Bold Italic';
font-family:'Frutiger LT W04_75 Black';
font-family:'Frutiger LT W04_76 Blac1459278';
font-family:'Frutiger LT W04_95 Ultra Black';
font-family:'Frutiger LT W04_47 Light Cond';
font-family:'Frutiger LT W04_67 Bold Cond';
font-family:'Frutiger LT W04_77 Black Cond';
font-family:'Frutiger LT W04_87 X Bl1459298';*/
/*function do_something(data, colors) {
   do something with "data" and "colors"
}
var list_of_stuff = [1,2,3,4];

do_something(list_of_stuff, "blue");*/
.vertical_center_parent {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  /*justify-content: center;*/ }

.global_pad {
  padding: 2em 40px; }
  @media screen and (max-width: 768px) {
    .global_pad {
      padding: 2em 40px; } }
  @media screen and (max-width: 480px) {
    .global_pad {
      padding: 2em 30px; } }

.sidepad, .inner_header {
  padding: 0 40px; }
  @media screen and (max-width: 768px) {
    .sidepad, .inner_header {
      padding: 0 40px; } }
  @media screen and (max-width: 480px) {
    .sidepad, .inner_header {
      padding: 0 30px; } }

@media screen and (max-width: 768px) {
  .inner_header h1 a {
    float: left;
    display: block;
    margin-right: 4.7619047619%;
    width: 169.8412698413%; }
    .inner_header h1 a:last-child {
      margin-right: 0; } }

h2.title-person-single {
  color: #004FB1;
  font-size: 1rem;
  float: left;
  display: block;
  margin-right: 2.3255813953%;
  width: 23.2558139535%;
  font-family: "FrutigerLTW01-47LightCn", helvetica, sans serif; }
  @media screen and (max-width: 768px) {
    h2.title-person-single {
      font-size: 1rem; } }
  @media screen and (max-width: 480px) {
    h2.title-person-single {
      font-size: 0.9375rem; } }
  h2.title-person-single:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    h2.title-person-single {
      float: left;
      display: block;
      margin-right: 4.7619047619%;
      width: 204.7619047619%;
      padding-bottom: 2em; }
      h2.title-person-single:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    h2.title-person-single {
      float: left;
      display: block;
      margin-right: 10%;
      width: 100%;
      padding-bottom: 2em; }
      h2.title-person-single:last-child {
        margin-right: 0; } }

div.description-person-single {
  float: left;
  display: block;
  margin-right: 2.3255813953%;
  width: 65.8914728682%;
  color: #004FB1;
  font-size: 1rem;
  font-family: "FrutigerLTW01-47LightCn", helvetica, sans serif; }
  div.description-person-single:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    div.description-person-single {
      font-size: 1rem; } }
  @media screen and (max-width: 480px) {
    div.description-person-single {
      font-size: 0.9375rem; } }
  @media screen and (max-width: 768px) {
    div.description-person-single {
      float: left;
      display: block;
      margin-right: 4.7619047619%;
      width: 100%;
      padding-bottom: 2em; }
      div.description-person-single:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    div.description-person-single {
      float: left;
      display: block;
      margin-right: 10%;
      width: 100%;
      padding-bottom: 2em; }
      div.description-person-single:last-child {
        margin-right: 0; } }

.page_banner_robert {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 500px;
  margin: 0 auto;
  background: url("../images/people/single/robert-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_robert::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_robert {
      background: url("../images/people/single/robert-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_robert {
      background: url("../images/people/single/robert-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }

.page_banner_jay {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 500px;
  margin: 0 auto;
  background: url("../images/people/single/jay-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_jay::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_jay {
      background: url("../images/people/single/jay-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_jay {
      background: url("../images/people/single/jay-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }

.page_banner_rossana {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 500px;
  margin: 0 auto;
  background: url("../images/people/single/rossana-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_rossana::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_rossana {
      background: url("../images/people/single/rossana-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_rossana {
      background: url("../images/people/single/rossana-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }

.page_banner_cgcrane {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 500px;
  margin: 0 auto;
  background: url("../images/people/single/cgcrane-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_cgcrane::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_cgcrane {
      background: url("../images/people/single/cgcrane-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_cgcrane {
      background: url("../images/people/single/cgcrane-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }

.page_banner_sonny {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 500px;
  margin: 0 auto;
  background: url("../images/people/single/sonny-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_sonny::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_sonny {
      background: url("../images/people/single/sonny-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_sonny {
      background: url("../images/people/single/sonny-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }

.page_banner_lea {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 500px;
  margin: 0 auto;
  background: url("../images/people/single/lea-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_lea::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_lea {
      background: url("../images/people/single/lea-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_lea {
      background: url("../images/people/single/lea-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }

.page_banner_charlie {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 500px;
  margin: 0 auto;
  background: url("../images/people/single/charlie-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_charlie::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_charlie {
      background: url("../images/people/single/charlie-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_charlie {
      background: url("../images/people/single/charlie-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }

.page_banner_koren {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 500px;
  margin: 0 auto;
  background: url("../images/people/single/koren-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_koren::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_koren {
      background: url("../images/people/single/koren-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_koren {
      background: url("../images/people/single/koren-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }

.page_banner_josh {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 500px;
  margin: 0 auto;
  background: url("../images/people/single/josh-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_josh::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_josh {
      background: url("../images/people/single/josh-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_josh {
      background: url("../images/people/single/josh-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }

.page_banner_olivia {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 500px;
  margin: 0 auto;
  background: url("../images/people/single/olivia-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_olivia::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_olivia {
      background: url("../images/people/single/olivia-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_olivia {
      background: url("../images/people/single/olivia-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }

.page_banner_bryce {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 500px;
  margin: 0 auto;
  background: url("../images/people/single/bryce-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_bryce::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_bryce {
      background: url("../images/people/single/bryce-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_bryce {
      background: url("../images/people/single/bryce-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }

.page_banner_alex {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 500px;
  margin: 0 auto;
  background: url("../images/people/single/alex-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_alex::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_alex {
      background: url("../images/people/single/alex-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_alex {
      background: url("../images/people/single/alex-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }

.page_banner_oak {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 500px;
  margin: 0 auto;
  background: url("../images/people/single/oak-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_oak::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_oak {
      background: url("../images/people/single/oak-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_oak {
      background: url("../images/people/single/oak-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }

.page_banner_bowdy {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 500px;
  margin: 0 auto;
  background: url("../images/people/single/bowdy-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_bowdy::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_bowdy {
      background: url("../images/people/single/bowdy-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_bowdy {
      background: url("../images/people/single/bowdy-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }

.page_banner_lisa {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 500px;
  margin: 0 auto;
  background: url("../images/people/single/lisa-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_lisa::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_lisa {
      background: url("../images/people/single/lisa-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_lisa {
      background: url("../images/people/single/lisa-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }

.page_banner_phil {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 500px;
  margin: 0 auto;
  background: url("../images/people/single/phil-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_phil::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_phil {
      background: url("../images/people/single/phil-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_phil {
      background: url("../images/people/single/phil-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }

.page_banner_grant {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  position: relative;
  height: 500px;
  margin: 0 auto;
  background: url("../images/people/single/grant-banner.jpg") center center no-repeat;
  background-size: cover; }
  .page_banner_grant::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .page_banner_grant {
      background: url("../images/people/single/grant-banner.jpg") no-repeat;
      background-size: 100%;
      height: 300px; } }
  @media screen and (max-width: 480px) {
    .page_banner_grant {
      background: url("../images/people/single/grant-banner.jpg") no-repeat;
      background-size: 100%;
      height: 190px; } }
