@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "utilities/variables";
@import "utilities/universal";

body {
    font-family: $frutigerRoman;
    background-color: #fff;
    height: 100%;
    position: relative;

}

.vertical_center_parent {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    /*justify-content: center;*/
}
.global_pad {
    @include pad(1.5em $desk);
    @include media($tablet) {
        @include pad(2em $tab);
    }
    @include media($mobile) {
        @include pad(2em $mob);
    }
}
.sidepad {
    @include pad(0 $desk);
    @include media($tablet) {
        @include pad(0 $tab);
    }
    @include media($mobile) {
        @include pad(0 $mob);
    }
}
.inner_header {
    @extend .sidepad;
    h1 {
        a {
            @include media($tablet) {
                @include span-columns(10);
            }
        }
    }
}


header.home{
    z-index: 999;
    position: relative;
    background-color: transparent;
    border-bottom: 1px solid #b2b2b2;
    div.inner_header_home {
        @include outer-container;
        height: 60px;
        h1 {
            @include span-columns(6);
            line-height: 60px;
            font-family: $frutigerBoldCond;
            font-size: 1em;
            a {
                text-decoration: none;
                color: #b2b2b2;
            }
            @include media($mobile){
                font-size: 1rem;
            }
            @include media($tiny){
                @include span-columns(2);
            }
        }
        nav.main-nav-home {
            ul {
                @include span-columns(6);
                margin:0;
                @include media($tablet) {
                    @include span-columns(5);
                    background-color: #fff;
                    display: none;
                }
                @include media($mobile) {
                    @include span-columns(3);
                    background-color: #fff;
                    display: none;
                }
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                li {
                    @include span-columns(2);
                    font-family: $frutigerBoldCond;
                    font-size: 1em;
                    margin: 20px 0 5px 0;
                    display: inline-block;
                    @include media($tablet) {
                        @include span-columns(6);
                        display: block;
                    }
                    @include media($mobile) {
                        @include span-columns(3);
                        display: block;
                    }
                    a {
                        width: 50px;
                        color: #b2b2b2;
                        text-decoration: none;
                        padding-bottom: 5px;

                    }
                    a:visited {
                        
                    }
                    a:hover {
                        color: #2775F6;

                    }
                    .currentpage a:active {
                        color: red;
                    }
                    .main-nav li.current {
                        border-bottom:1px #333 solid;
                    }
                }
            }
        }
    }
}



header {
    z-index: 999;
    position: relative;
    background-color: $blue;
    border-bottom: 1px solid #5e9eec;
    div.inner_header {
        @include outer-container;
        height: 60px;
        h1 {
            @include span-columns(6);
            line-height: 60px;
            font-family: $frutigerBoldCond;
            font-size: 1em;

            a {
                text-decoration: none;
                color: #b2b2b2;
            }
            @include media($mobile){
                font-size: 1rem;
            }
            @include media($tiny){
                @include span-columns(2);
            }
        }
        nav.main-nav {
            ul {
                @include span-columns(6);
                margin:0;
                @include media($tablet) {
                    @include span-columns(5);
                    background-color: #fff;
                    display: none;
                }
                @include media($mobile) {
                    @include span-columns(3);
                    background-color: #fff;
                    display: none;
                }
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                li {
                    @include span-columns(2);
                    font-family: $frutigerBoldCond;
                    font-size: 1em;
                    margin: 20px 0 5px 0;
                    display: inline-block;
                    @include media($tablet) {
                        @include span-columns(6);
                        display: block;
                    }
                    @include media($mobile) {
                        @include span-columns(3);
                        display: block;
                    }
                    a {
                        width: 50px;
                        color: #b2b2b2;
                        text-decoration: none;
                        padding-bottom: 5px;

                    }
                    a:visited {
                        
                    }
                    a:hover {
                        color: #2775F6;

                    }
                    .currentpage a:active {
                        color: red;
                    }
                    .main-nav li.current {
                        border-bottom:1px #333 solid;
                    }
                }
            }
        }
    }
}




/*.menuIcon {
    display: none;
    width: 100%;
    text-align: center;
    h1 {
        a{
            font-family: $frutigerLightCond;
        }
    }
    a {
        &:hover {
        color: #999;
    }  
      width: 100%;
      display: block;
      color: $blue;
      text-decoration: none;
      img {
        vertical-align: middle;
      }
    }
  }*/

button {
    display: none;
    span {
        display: none;
    }
}

.mob-nav-container {
    ul {
       display: none; 
    }
    
}

ul.btn-mobile {
    li{
        display: none;
    }
}
    


/* ------------ MOBILE LAYOUT VALUE ---------*/

.mobile-column {
    display: none;

}

.buttons-btn-mob {
    display: none;
}

hr {
    display: none;
}

@media only screen and (min-device-width: 220px) and (max-device-width: 480px) {

    .content {
        display: none;
    }

    .mobile-column {
        @include media($tablet) {
        @include span-columns(6);
        display: block;
        }
        @include media($mobile) {
            @include span-columns(3);
            display: block;
        }

    }

    .main-nav {
        ul {
            display: none;
        }
    }

    button {
        position: fixed;
        top: 0;
        right: 0;
    }



    /* ---------------------------------HAMBURGER STARTS ---------------*/
 /* 
    .c-hamburger {
      float: right;  
      display: inline-block;
      position: relative;
      overflow: hidden;
      margin: 0;
      padding: 0;
      width: 70px;
      height: 60px;
      font-size: 0;
      text-indent: -9999px;
      appearance: none;
      box-shadow: none;
      border-radius: none;
      border: none;
      cursor: pointer;
      transition: background 0.3s;

    }

    .c-hamburger:focus {
      outline: none;
    }

    .c-hamburger span {
      display: block;
      width: 30px;
      position: absolute;
      top: 30px;
      left: 18px;
      right: 18px;
      height: 3px;
      background: #b2b2b2;
    }

    .c-hamburger span::before,
    .c-hamburger span::after {
      position: absolute;
      display: block;
      right: 0;
      width: 100%;
      height: 3px;
      background-color: #b2b2b2;
      content: "";
    }

    .c-hamburger span::before {
      top: -10px;
    }

    .c-hamburger span::after {
      bottom: -10px;
    }

    .c-hamburger--htx {
      background-color: #004fb1;
    }

    .c-hamburger--htx span {
      transition: background 0s 0.3s;
    }

    .c-hamburger--htx span::before,
    .c-hamburger--htx span::after {
      transition-duration: 0.3s, 0.3s;
      transition-delay: 0.3s, 0s;
    }

    .c-hamburger--htx span::before {
      transition-property: top, transform;
    }

    .c-hamburger--htx span::after {
      transition-property: bottom, transform;
    }

     active state, i.e. menu open 
    .c-hamburger--htx.is-active {
      background-color: #000;
    }

    .c-hamburger--htx.is-active span {
      background: none;
    }

    .c-hamburger--htx.is-active span::before {
      top: 0;
      transform: rotate(45deg);
    }

    .c-hamburger--htx.is-active span::after {
      bottom: 0;
      transform: rotate(-45deg);
    }

    .c-hamburger--htx.is-active span::before,
    .c-hamburger--htx.is-active span::after {
      transition-delay: 0s, 0.3s;
    }
*/
  /* ---------------------------------HAMBURGER ENDS ---------------*/

    .mob-nav-container-active {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        background-color: red;
        opacity: 1;
        z-index: 99;
        ul {
            transition:all .05s;
            position:relative;
            left:0;
            z-index:2;
          }
        a {
            transition:all .15s;
            font-size:2em;
            padding:5px;
            
        } 
    }


} /* -----------END media queries -----------------------*/


/* -----------------------------------BUTTONS ---------------*/



.buttons-btn {
    @include span-columns(8);
    padding-top: 40px;
    @include media($tablet) {
        @include span-columns(12);
    }
    @include media($mobile) {
        width: 100%;
    }
}

.container-button { 
    @include span-columns(12);
    display: block;
    p {
        font-family: $frutigerLightCond;
        font-size: 1.5em;
        text-align: center;  
    }
}

.btn {
    margin-left: -5px;
  color: $gray;
  cursor: pointer;
  font-size:1em;
  line-height: 60px;
  display: inline-block;
  max-width: 160px;
  text-decoration: none;
  vertical-align: middle;
  width: 100%;
  @include media($mobile) {
        border-top: 1px solid;
        max-width: 100%;
    }
}

.btn-4 {
  border: 1px solid;
  @include media($mobile) {
        border: none;
        width: 100%;
        display: block;
        text-align: center;
        margin: 0 auto;
        a {
            border-bottom: 1px solid $gray;
        }
    }
}

.btn-4:hover {
  background: #2775F6;
  @include media($mobile) {
    background: transparent;
  }
  p:hover {
    @include media($mobile) {
        color: #2775F6;
        }
    }
}



/* -----------------------------END BUTTONS ------------------------*/

.page_banner_home {
    z-index: 0;
    background-color: #eee;

    min-height: 100%;
    top: 0;
    left: 0;

    background: url('../images/DW_Home2.jpg') center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    div.overlay_home {
        @include outer-container;
        @extend .global_pad;
        padding-bottom: 20%;
        div.inner_banner_home {
            padding: 200px 0 200px 0;
            position: relative; 
            min-height: 100%;
              /* equal to footer height */
              margin-bottom: -142px; 
            @include media($tablet) {
                padding-top: 100px;
            }
            /*@include media($mobile) {
                padding-top: 100px;
            }
            @include media($tiny) {
                padding: 100px 0 0 50px;
            }*/
            div.home-logo{
                    @extend .vertical_center_parent;
                    h1.home-logo-name {
                        font-size: 3em;
                        font-family: $frutigerBoldCond;
                        color: $gray;
                        @include media($tablet) {
                            @include span-columns(5);
                        }
                        @include media($mobile) {
                            @include span-columns(3);
                            font-size: 2em;
                        }
                    }

                }
            }
            div.home-message {
                padding-top:30px;
                display: block;
                p{
                    @include span-columns(7);
                    font-size: 3em;
                    color: $gray;
                    font-family: $frutigerLightCond;
                    @include media($tablet) {
                        @include span-columns(5);
                    }
                    @include media($mobile) {
                        @include span-columns(3);
                        font-size: 2em;
                    }
                }
            }
            button {
                border: 1px solid #b2b2b2; 
            }
        }
    }



.page_banner_letters {
    background-color: #eee;
    position: relative;
    height: 500px;
    background: url('../images/letters.jpg') center center no-repeat;
    background-size: cover;
    @include media($mobile) {
        background: url('../images/letters.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }
    div.overlay {
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 175px;
        background-color: rgba($blue, 0.6);
        div.inner_banner {
            @include outer-container;
            @extend .global_pad;
            position: relative;
            height: 100%;
            div {
                height: 100%;
                @extend .vertical_center_parent;
                p {
                    @include span-columns(6);
                    font-family: $frutigerLightCond;
                    font-size: 20pt; 
                    color: #fff;
                    line-height: 1.1;
                    @include media($tablet) {
                        @include span-columns(4);
                    }
                }
            }
        }
    }
}

div.overlay-mobile {
    display: none;
}
@media (max-width: 480px) {
    div.overlay-mobile {
        div.inner_banner-mobile {
            height: 175px;
            padding: 10%;
            background-color: rgba($blue, 0.6);
        }
    }
}

.page_banner_firm {
    
    position: relative;
    div.intro-box {
        width: 100%;
        height: 185px;
        background-color: $blue;
        @include media($mobile) {
            
        }
        div.inner_banner {
            @include outer-container;
            @extend .global_pad;
            padding-top: 5%;
            position: relative;
            height: 100%;
            div.page-name {
                @include span-columns(6);
                h1 {
                    font-family: $frutigerBoldCond;
                    font-size: 1.5em; 
                    color: #b2b2b2;
                    padding-bottom: 30px;
                }
            }
            div {
                p {
                    @include span-columns(5);
                    font-family: $frutigerLightCond;
                    font-size: 1.5em;
                    line-height: 1.1;
                    color: #b2b2b2;
                    @include media($tablet) {
                        @include span-columns(3);
                    }
                    @include media($mobile) {
                        @include span-columns(3);
                        font-size: 1em;
                    }
                }
            }
        }
    }
    div.actual-banner img {
        position: relative;
        display: block;
        height: auto;
        background-size: 100%;
        background-position: top;
            @include media($tablet) {

            }
            @include media($mobile) {
            background: url('../images/DW_About-mob.jpg') no-repeat;
        }
    }
}

.page_banner_value {
    position: relative;
    div.intro-box {
        width: 100%;
        height: 185px;
        background-color: $blue;
        @include media($mobile) {
            
        }
        div.inner_banner {
            @include outer-container;
            @extend .global_pad;
            padding-top: 5%;
            position: relative;
            height: 100%;
            div.page-name {
                @include span-columns(6);
                h1 {
                    font-family: $frutigerBoldCond;
                    font-size: 1.5em; 
                    color: #b2b2b2;
                    padding-bottom: 30px;
                }
            }
            div {
                p {
                    @include span-columns(5);
                    font-family: $frutigerLightCond;
                    font-size: 1.5em;
                    line-height: 1.1;
                    color: #b2b2b2;
                    @include media($tablet) {
                        @include span-columns(3);
                         
                    }
                    @include media($mobile) {
                        @include span-columns(3);
                        font-size: 1em;
                    }
                }
            }
        }
    }
    div.actual-banner img {
        position: relative;
        display: block;
        height: auto;
        background-size: 100%;
        background-position: top;
            @include media($tablet) {

            }
            @include media($mobile) {
            background: url('../images/DW_Value-mob.jpg') no-repeat;
        }
    }
}

.page_banner_people {
    position: relative;
        div.intro-box {
            width: 100%;
            height: 185px;
            background-color: $blue;
            @include media($mobile) {
                
            }
            div.inner_banner {
                @include outer-container;
                @extend .global_pad;
                padding-top: 5%;
                position: relative;
                height: 100%;
                div.page-name {
                    @include span-columns(6);
                    h1 {
                        font-family: $frutigerBoldCond;
                        font-size: 1.5em; 
                        color: #b2b2b2;
                        padding-bottom: 30px;
                    }
                }
                div {
                    p {
                        @include span-columns(5);
                        font-family: $frutigerLightCond;
                        font-size: 1.5em;
                        line-height: 1.1;
                        color: #b2b2b2;
                        @include media($tablet) {
                            @include span-columns(3);
                             
                        }
                        @include media($mobile) {
                            @include span-columns(3);
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }


.page_banner_contact {
    background-color: #eee;
    position: relative;
    height: 500px;
    background: url('../images/contact.jpg') center center no-repeat;
    background-size: cover;
    @include media($mobile) {
        height: 190px;
        background: url('../images/contact.jpg') no-repeat;
        background-size: 100%;
    }
    div.overlay {
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 175px;
        background-color: rgba($blue, 0.6);
        div.inner_banner {
            @include outer-container;
            @extend .global_pad;
            position: relative;
            height: 100%;
            div {
                height: 100%;
                @extend .vertical_center_parent;
                p {
                    @include span-columns(6);
                    font-family: $frutigerLightCond;
                    font-size: 20pt; 
                    color: #fff;
                    @include media($tablet) {
                        @include span-columns(4);

                    }
                    @include media($mobile) {
                        @include span-columns(4);
                    }
                }
            }
        }
    }
}


section.people {
    @include outer-container;
    @extend .global_pad;
    div.person {
        @include span-columns(3);
        @include omega(4n);
        background-color: #eee;
        margin-top: 1em;
        margin-bottom: 1em;
        position: relative;
        @include media($tablet) {
            @include span-columns(3);
            @include omega(2n);
        }
        @include media($mobile) {
            @include span-columns(3);
            @include omega(4n);
        }
        
        img.person_headshot:hover {
           
        }

        div.person_name {
            position: absolute;
            height: 60px;
            bottom: 0;
            background-color: rgba($blue, 0.6);
            width: 100%;
            @include pad(0 1em);
            h1 {
                line-height: 40px;
                color: #fff;
                @include type($small, #fff);
                font-family: $frutigerLightCond;
            }
            p {
                line-height: 5px;
                color:#fff;
                font-size: 10pt;
                font-family: $frutigerLightCond;
            }
            p:hover {
                opacity: 1;
            }
            a {
                color: #fff;
                text-decoration: none;
            }
            a:hover{
                
            }
        }
        div.person_name:hover {
            background-color: rgba(black, 0.6);
        }
    }
}
/* ----------------------------- Single person people grid - mobile -----*/

section.person-info {
    @include outer-container;
    @extend .global_pad;
    div.description-person-single {
        h2.title-person-single {
            font-family: $frutigerBoldCond;
            p.sub-header {


            }
        }
    }
}

section.people-single {
    @include outer-container;
    @extend .global_pad;
    div.person-single {
        @include span-columns(3);
        @include omega(4n);
        background-color: #eee;
        margin-top: 1em;
        margin-bottom: 1em;
        position: relative;
        @include media($tablet) {
            @include span-columns(3);
            @include omega(2n);
        }
        
        img.person_headshot:hover {
           
        }

        div.person_name-single {
            position: absolute;
            height: 60px;
            bottom: 0;
            background-color: rgba($blue, 0.6);
            width: 100%;
            @include pad(0 1em);
            h1 {
                line-height: 35px;
                color: #fff;
                @include type($small, #fff);
                font-family: $frutigerLightCond;
                @include media($tablet) {
                    line-height: 25px;
                    font-size: 10pt;
                }
            }
            p {
                line-height: 20px;
                color:#fff;
                font-size: 10pt;
                font-family: $frutigerLightCond;
                @include media($tablet) {
                    line-height: 15px;
                    font-size:9pt;
                }
            }
            p:hover {
                opacity: 1;
            }
            a {
                color: #fff;
                text-decoration: none;
            }
            a:hover{
                
            }
        }
        div.person_name:hover {
            background-color: rgba(black, 0.6);
        }
    }
}





div.band-container-gray {
    background-color: #eee;
    width: 100%;
    height: auto;
}

section.firm {
    @include outer-container;
    @extend .global_pad;
    position: relative;
    padding-bottom: 0;
    div.block {
        @include span-columns(12);
        top: 0;
        h2.title {
            padding-bottom: 30px;
            font-size: 1.5em;
            color: #b2b2b2;
            font-family: $frutigerLightCond;
            @include media ($tablet) {
            }
        }
        div.description {
            p.description-text-left {
                @include span-columns(5);
                @include type($small, #b2b2b2);
                line-height: 20px;
                padding-bottom: 30px;
                font-family: $frutigerLightCond;
                 @include media($mobile) {
                    @include span-columns(3);
                    
                }
            }
            p.description-text-right {
                @include span-columns(5);
                @include shift(1);
                @include type($small, #b2b2b2);
                line-height: 20px;
                padding-bottom: 30px;
                font-family: $frutigerLightCond;
                 @include media($mobile) {
                    @include span-columns(3);
                    @include shift(0);
                    
                }
            }
        } 
    }
}
section.history {
    @include outer-container;
    @extend .global_pad;
    position: relative;
    padding-bottom: 0;
    div.block {
        @include span-columns(12);
        top: 0;
        h2.title {
            padding-bottom: 30px;
            font-size: 1.5em;
            color: #b2b2b2;
            font-family: $frutigerLightCond;
            @include media ($tablet) {
            }
        }
        div.description {
            p.description-text-left {
                @include span-columns(5);
                @include type($small, #b2b2b2);
                line-height: 20px;
                padding-bottom: 30px;
                font-family: $frutigerLightCond;
                 @include media($mobile) {
                    @include span-columns(3);
                    
                }
            }
            p.description-text-right {
                @include span-columns(5);
                @include shift(1);
                @include type($small, #b2b2b2);
                line-height: 20px;
                padding-bottom: 30px;
                font-family: $frutigerLightCond;
                 @include media($mobile) {
                    @include span-columns(3);
                    @include shift(0);
                    
                }
            }
        } 
    }
}
section.philosophy {
    @include outer-container;
    @extend .global_pad;
    position: relative;
    padding-bottom: 0;
    div.block {
        @include span-columns(12);
        top: 0;
        h2.title {
            padding-bottom: 30px;
            font-size: 1.5em;
            color: #b2b2b2;
            font-family: $frutigerLightCond;
            @include media ($tablet) {
            }
        }
        div.description {
            p.description-text-left {
                @include span-columns(5);
                @include type($small, #b2b2b2);
                line-height: 20px;
                padding-bottom: 30px;
                font-family: $frutigerLightCond;
                 @include media($mobile) {
                    @include span-columns(3);
                    
                }
            }
            p.description-text-right {
                @include span-columns(5);
                @include shift(1);
                @include type($small, #b2b2b2);
                line-height: 20px;
                padding-bottom: 30px;
                font-family: $frutigerLightCond;
                 @include media($mobile) {
                    @include span-columns(3);
                    @include shift(0);
                    
                }
            }
        } 
    }
}
section.value {
    @include outer-container;
    @extend .global_pad;
    position: relative;
    padding-bottom: 0;
    div.block-value {
        @include span-columns(12);
        top: 0;
        section.description-text-left {
            @include span-columns(5);
            @include type($small, #b2b2b2);
            line-height: 20px;
            padding-bottom: 30px;
            font-family: $frutigerLightCond;
            @include media($mobile) {
                @include span-columns(3);
            }
            h3.title {
                padding-bottom: 30px;
                line-height: 1.2em;
                font-size: 1.5em;
                color: #b2b2b2;
                font-family: $frutigerLightCond;
                @include media ($tablet) {
                }   
            }
        }
            section.description-text-right {
                @include span-columns(5);
                @include shift(1);
                @include type($small, #b2b2b2);
                line-height: 20px;
                padding-bottom: 30px;
                font-family: $frutigerLightCond;
                @include media($mobile) {
                    @include span-columns(3);
                    @include shift(0);
                }
                h3.title {
                    padding-bottom: 30px;
                    line-height: 1.2em;
                    font-size: 1.5em;
                    color: #b2b2b2;
                    font-family: $frutigerLightCond;
                    @include media ($tablet) {
                    }    
                } 
            } 
        
    }
}

div.band-container-white {
    background-color: #fff;
    width: 100%;
    height: auto;
    @include outer-container;
    @extend .global_pad;
    position: relative;
    padding-bottom: 0;
    div.block-value {
        @include span-columns(12);
        top: 0;
        section.description-text-left {
            @include span-columns(5);
            @include type($small, #b2b2b2);
            line-height: 20px;
            padding-bottom: 30px;
            font-family: $frutigerLightCond;
            @include media($mobile) {
                @include span-columns(3);
            }
            h3.title {
                padding-bottom: 30px;
                line-height: 1.2em;
                font-size: 1.5em;
                color: #b2b2b2;
                font-family: $frutigerLightCond;
                @include media ($tablet) {
                }   
            }
        }
        section.description-text-right {
            @include span-columns(5);
            @include shift(1);
            @include type($small, #b2b2b2);
            line-height: 20px;
            padding-bottom: 30px;
            font-family: $frutigerLightCond;
            @include media($mobile) {
                @include span-columns(3);
                @include shift(0);
            }
            h3.title {
                padding-bottom: 30px;
                line-height: 1.2em;
                font-size: 1.5em;
                color: #b2b2b2;
                font-family: $frutigerLightCond;
                @include media ($tablet) {
                }    
            } 
        } 
    }
}


    
div.band-container-gray .white {
    background-color: white;
}




section.detail-layout-value {
    @include outer-container;
    @extend .global_pad;
    div.detail {
        @include span-columns(4);
        @include omega(3n);
        margin-top: 1em;
        margin-bottom: 1em;
        position: relative;
        h3 {
            font-family: $frutigerLightCond;
            @include type($small, $blue);
            margin-bottom: 14px;
        }
        p {
            @include type($small, $gray);
            font-family: $frutigerLightCond;
        }
        @include media($tablet) {
            @include span-columns(5);
        }
        @include media($mobile) {
            @include span-columns(3);
            
        }
    }
}

section.letters {
    @include outer-container;
    @extend .global_pad;
    div.letter-list {
        @include type($small, $gray);
        font-family: $frutigerLightCond;
        @include span-columns(8);
            @include shift(4);
        a {
            margin-right: 20px;
            display: inline-block;
            text-decoration: none;
            color: $gray;
        }
        a:hover {
            color: $blue;
        }
        @include media($tablet) {
            @include span-columns(3);
            a {
                display:block;
                margin-bottom: 20px;
            }
        }
        @include media($mobile) {
            @include span-columns(3);
            a {
                display:block;
                margin-bottom: 20px;
            }
        }
    } 
}

section.initial_contact {
    @include outer-container;
    @extend .global_pad;
    h2.contact {
        @include span-columns(3);
        @include type($small, $blue);
        font-family: $frutigerLightCond;
    }
}

section.contact-list {
    @include outer-container;
    @extend .global_pad;
    @include type($small, $blue);
    font-family: $frutigerLightCond;
    div.one-contact {
        @include span-columns(4);
        @include omega(3n);
        margin-top: 1em;
        margin-bottom: 1em;
        position: relative;
        h3 {
            margin-bottom: 14px;
        }
        p {
            @include type($small, $gray);
        }
        a {
            text-decoration: none;
            @include type($small, $gray);
        }
        a:hover {
            color: $blue;
        }
        @include media($tablet) {
            @include span-columns(5);
        }
        @include media($mobile) {
            @include span-columns(3);
            
        }
    }
}


section.contact {
    @include outer-container;
    @extend .global_pad;
    @include type($small, $blue);
    font-family: $frutigerLightCond;
    div.locations {
        @include span-columns(4);
        /*@include omega(4n);*/
        background-color: #eee;
        margin: 0;
        max-width: 80em; 
        margin-top: 1em;
        margin-bottom: 1em;
        position: relative;
        @include media($tablet) {
            @include span-columns(4);
            @include omega(1n);
        }
        @include media($mobile) {
            @include span-columns(3);
            @include omega(4n);
        }
        img.city {

        }
        div.city_name {
            position: absolute;
            height: 160px;
            bottom: 0;
            background-color: rgba($blue, 0.6);
            width: 100%;
            @include pad(0 1em);
            h1 {
                line-height: 55px;
                color: #fff;
                @include type($small, #fff);
                font-family: $frutigerLightCond;
            }
            p.contact {
                line-height: 20px;
                color:#fff;
                font-size: 10pt;
                font-family: $frutigerLightCond;
            }
        }
    }
}


#map-canvas {
    min-height: 640px;
    width: 100%;
}

.gmnoprint img {
    max-width: none;
}

footer {
    background-color: #000;
    width: 100%;
    z-index: 999;
    height: auto;
    font-family: $frutigerLightCond;
    div.inner_footer {
        @include outer-container;
        @extend .global_pad;
        ul {
            @include span-columns(12);
            li.copyright {
                @include span-columns(6);
                @include media($mobile) {
                    @include span-columns(5);
                }
            }
            li {
                @include span-columns(3);
                display: inline-block;
                font-size: 1em;
                color: #b2b2b2;
                @include media($mobile) {
                    @include span-columns(3);
                    padding-bottom: 20px;
                    font-size: 0.7em;
                }
            }
        }   
    } 
}
  
#footer {
    background-color: #000;
    width: 100%;
    z-index: 999;
    display: block;
    font-family: $frutigerLightCond;
    div.inner_footer {
        @include outer-container;
        @extend .global_pad;
        ul {
            @include span-columns(12);
            li.copyright {
                @include span-columns(6);
                @include media($mobile) {
                    @include span-columns(5);
                }
            }
            li {
                @include span-columns(3);
                display: inline-block;
                font-size: 1em;
                color: #b2b2b2;
                @include media($mobile) {
                    @include span-columns(3);
                    padding-bottom: 20px;
                    font-size: 0.7em;
                }
            }
        }   
    } 
} 


/*footer.home {
    background-color: #000;
    width: 100%;
    z-index: 999;
    height: auto;
    display: block;
    font-family: $frutigerLightCond;
    div.inner_footer {
            @include outer-container;
            @extend .global_pad;
            ul {
                @include span-columns(12);
                li.copyright {
                    @include span-columns(6);
                    @include media($mobile) {
                        @include span-columns(7);
                    }
                }
                li {
                    @include span-columns(3);
                    display: inline-block;
                    font-size: 1em;
                    color: #b2b2b2;
                    @include media($mobile) {
                        @include span-columns(4);
                        padding-bottom: 20px;
                        font-size: 0.7em;
                    }
                }
            }   
        } 
    }*/


