@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "utilities/variables";
@import "utilities/universal";

* {
    margin: 0;
}

html, body {
    font-family: $frutigerRoman;
    background-color: #fff;
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;

    @include media($mobile) {
        overflow-x: hidden;
    }

}

.vertical_center_parent {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    /*justify-content: center;*/
}
.global_pad {
    @include pad(1.5em $desk);
    @include media($tablet) {
        @include pad(2em $tab);
    }
    @include media($mobile) {
        @include pad(2em $mob);
    }
}
.sidepad {
    @include pad(0 $desk);
    @include media($tablet) {
        @include pad(0 $tab);
    }
    @include media($mobile) {
        @include pad(0 $mob);
    }
}
.inner_header {
    @extend .sidepad;
    h1 {
        a {
            @include media($tablet) {
                @include span-columns(10);
            }
        }
    }
    a:hover {
        color: #2775F6;
    }
}

/*----------------- HOME PAGE -----------*/
/*----------------- HOME PAGE -----------*/
/*----------------- HOME PAGE -----------*/
/*----------------- HOME PAGE -----------*/

header {
    z-index: 999;
    position: relative;
    background-color: $blue;
    border-bottom: 1px solid #b2b2b2;
    div.inner_header {
        @include outer-container;
        height: 60px;
        h1 {
            @include span-columns(6);
            line-height: 60px;
            font-family: $frutigerBoldCond;
            font-size: 1em;

            a {
                text-decoration: none;
                color: #fff;
            }
            @include media($mobile){
                font-size: 1rem;
            }
            @include media($tiny){
                @include span-columns(2);
            }
            a:hover {
                color: #fff;
            }
        }
        div.main-nav {
            ul {
                @include span-columns(6);
                margin:0;
                @include media($tablet) {
                    @include span-columns(5);
                    background-color: #fff;
                    display: none;
                }
                @include media($mobile) {
                    @include span-columns(3);
                    background-color: #fff;
                    display: none;
                }
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                li {
                    @include span-columns(2);
                    font-family: $frutigerBoldCond;
                    font-size: 1em;
                    margin: 20px 0 5px 0;
                    display: inline-block;
                    @include media($tablet) {
                        @include span-columns(6);
                        display: block;
                    }
                    @include media($mobile) {
                        @include span-columns(3);
                        display: block;
                    }
                    a {
                        width: 50px;
                        color: #b2b2b2;
                        text-decoration: none;
                        padding-bottom: 5px;

                    }
                    a:visited {
                         
                    }
                    a:hover {
                        color: #fff;

                    }

                    a.currentpage:active {
                        
                    }


                    .main-nav li.current {
                        border-bottom:1px #333 solid;
                    }
                }
            }
        }
    }
}

/* ---------hamburger --------------*/

/*nav,  #nav-icon4 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav {
    position: fixed;
    left: 0;
    z-index: 10;
    background-color: #000;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    text-align: center;
    ul {
        padding-top: 60px;
        vertical-align: middle;
        padding-left: 0 !important;
        height: 500px;
        overflow: scroll;
        li {
            list-style: none;
            margin-bottom: 20px;
            a {
                font-size: 25px;
                color: #b2b2b2;
                text-decoration: none;
            }
        }
    }
}



#nav-icon4 {
  position: absolute;
    width: 20px;
    height:70px;
    cursor: pointer;
    top:15px;
    right:30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: $gray;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}




#nav-icon4 {
  height:50px;
  z-index: 99;
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 23px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 11px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top:5px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 20px !important;
  left: 8px;
}


nav.open {
    display: none; 
}

nav.open {
    li {
        a.menu-mob {
            @include media($tablet) {
                font-family: $frutigerLightCond !important;
            }
            @include media($mobile) {
                font-family: $frutigerLightCond !important;
            }
        }
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) { 
    nav ul {
        padding-top: 100px;
        vertical-align: middle;
        padding-left: 0 !important;
        height: 300px;
        overflow: scroll;
    }
}


@media screen and (min-width: 768px) {
    #nav-icon4{
        display: none;
    } 
}
*/

/*-------------nav 2 ----------------*/

/*.burgWrapper {
    padding:20px 0;
    display:block;
    position: absolute;
    right: 30px;
    top: 7px;
    -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.burg {
  display:block;
  height:5px;
  width:30px;
  background:black;
  position:relative;
  @include transition(.2s);  
  &:before {
    content:'';
    position:absolute;
    top:-10px;
    width:30px;
    height:5px;
    background:#000;
    @include transition(.2s);
  }
  &:after {
    content:'';
    position:absolute;
    top:10px;
    width:30px;
    height:5px;
    background:#000;
    @include transition(.2s);
  }
}


.activeBurg {
  background:transparent;
  &:before {
    -webkit-transform:rotate(45deg);
    top:0;
  }
  &:after {
    -webkit-transform:rotate(-45deg);
    top:0;
  }
}*/

/*------------nav 3 -----------*/

/*button span,
button:before,
button:after {
  height: 4px;
  width: 40px;
  background: #000;
  display: block;
  position: absolute;
  left: 0;
  content: '';
  margin: auto;
  -webkit-transition: all 400ms ease;
          transition: all 400ms ease;
  border-radius: 999px;
}
button {
    visibility: visible;
  position: fixed;
  border: none;
  text-indent: -9999px;
  top: 30px;
  right: 30px;
  display: block;
  width: 40px;
  height: 40px;
  padding: 5px;
  background: none;
  outline: none;
}
button span {
  top: 0;
  bottom: 0;
  -webkit-transition: all 800ms ease;
          transition: all 800ms ease;
}
button:before {
  top: 0;
}
button:after {
  bottom: 0;
}
button.clicked span {
  opacity: 0;
}
button.clicked:before {
  top: 15px;
  width: 60px;
  left: -10px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
button.clicked:after {
  top: -5px;
  width: 60px;
  left: -10px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}*/

/*----------- nav 4 -----------*/

/*.Trigger-lines, .Trigger-lines:before, .Trigger-lines:after {
  background: #b2b2b2;
  height: 4px;
  width: 30px;
}

.Trigger {
  cursor: pointer;
  margin: auto;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 20px;
  width: 30px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.Trigger-lines {
  position: absolute;
  top: 8px;
}
.Trigger-lines:before {
  content: '';
  position: absolute;
  top: -8px;
  -webkit-transition: top 0.075s linear;
  -moz-transition: top 0.075s linear;
   -ms-transform: top 0.075s linear;
  -o-transform: top 0.075s linear;
  transition: top 0.075s linear;
}
.Trigger-lines:after {
  content: '';
  position: absolute;
  top: 8px;
  -webkit-transition: top 0.075s linear;
  -moz-transition: top 0.075s linear;
   -ms-transform: top 0.075s linear;
  -o-transform: top 0.075s linear;
  transition: top 0.075s linear;
}

.Trigger .Trigger-lines:before {
  top: -12px;
}
.Trigger .Trigger-lines:after {
  top: 12px;
}

.Trigger.open .Trigger-lines:before {
  top: 0px;
}
.Trigger.open .Trigger-lines:after {
  top: 0px;
}*/


/* ---------- nav 5 ----------*/

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) { 
    .nav-tab{
        visibility: visible;
    } 
}


@media screen and (min-width: 768px) {
    .nav-tab{
        display: none;
    } 
}


.nav-tab {
  width: 30px;
  height: 40px;
}
.nav-tab a {
  cursor: pointer;
  display: block;
  height: 100%;
  width: 100%;
}
.nav-tab span {
  background: #e1e7f4;
  display: block;
  width: 30px;
  height: 4px;
  margin-bottom: 3px;
}
/*.nav-tab:hover span.first-child {
  width: 26px;
}
.nav-tab:hover span.second-child {
  width: 18px;
}
.nav-tab:hover span.third-child {
  width: 22px;
}
.nav-tab:hover span.fourth-child {
  width: 24px;
}*/

.mob-nav.clicked .nav-tab span.first-child {
  width: 30px;
  margin-top: 11px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transition: all ease-in-out 0.4s;
  -webkit-transition: all ease-in-out 0.4s;
}
.mob-nav.clicked .nav-tab span.second-child {
  width: 0px;
  opacity: 0;
}
.mob-nav.clicked .nav-tab span.third-child {
  width: 0px;
  opacity: 0;
}
.mob-nav.clicked .nav-tab span.fourth-child {
  width: 30px;
  margin-top: -21px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: all ease-in-out 0.4s;
  -webkit-transition: all ease-in-out 0.4s;
}


.nav-tab {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -15px;
}



/*------------INDEX FOOTER ---------*/


#footer {
    background-color: #000;
    position: fixed;
    width: 100%;
    height: auto;
    bottom: 0;
    display: block;
    clear: both;
    @include media($mobile) {
        background-color: #000;
        position: relative;
        width: 100%;
        height: auto;
        bottom: 0;
        display: block;
        clear: both;
    }
        div.inner_footer {
        @include outer-container;
        @extend .global_pad;
        ul {
            @include span-columns(12);
            li.copyright {
                @include span-columns(6);
                @include media($mobile) {
                    @include span-columns(3);
                    font-size: 0.8em;
                }
            }
            li {
                @include span-columns(3);
                font-family: $frutigerLightCond;
                display: inline-block;
                font-size: 1em;
                color: #b2b2b2;
                @include media($mobile) {
                    @include span-columns(3);
                    padding-bottom: 20px;
                    font-size: 0.8em;
                }
            }
            a {
                text-decoration: none;
                color: #b2b2b2;
                
            }
            a:hover {
                color: $blue;
            }
        }   
    } 
    
}




aside.page_banner_home {
    z-index: 0;
    min-height: 88%;
    height: auto !important;
    display: block;
    background: url('../images/DW_Home.jpg') center center no-repeat;
    -webkit-background-size: auto cover;
    -moz-background-size: auto cover;
    -o-background-size: auto cover;
    background-size: auto cover;
    
    @include media($mobile) {
           
    }
    div.overlay_home {
        @include outer-container;
        @extend .global_pad;
        padding-bottom: 50px;
        div.inner_banner_home {
            padding: 100px 0 0 0;
            position: relative; 
            
            /* equal to footer height */
            margin-bottom: -142px; 
            @include media($tablet) {
                padding-top: 100px;
            }
            @include media($mobile) {
                padding-top: 30px;
            }
            @include media($tiny) {
                
            }
            div.home-logo{
                    @extend .vertical_center_parent;
                    h1.home-logo-name {
                        font-size: 3em;
                        font-family: $frutigerBoldCond;
                        color: #fff;
                        @include media($tablet) {
                            @include span-columns(3);
                        }
                        @include media($mobile) {
                            @include span-columns(3);
                            font-size: 1.5em;
                        }
                    }
                }
            }

            div.home-message {
                padding-top:30px;
                display: block;
                p{
                    @include span-columns(7);
                    font-size: 3em;
                    color: #fff;
                    font-family: $frutigerLightCond;
                    @include media($tablet) {
                        @include span-columns(5);
                    }
                    @include media($mobile) {
                        @include span-columns(3);
                        font-size: 1.5em;
                    }
                }
            }
            button {
                border: 1px solid #fff; 
            }
        }
    }

div.overlay-mobile {
    display: none;
}


/* ----------------------------HOME PAGE BUTTONS ---------------*/
/* ----------------------------HOME PAGE BUTTONS ---------------*/
/* ----------------------------HOME PAGE BUTTONS ---------------*/
/* ----------------------------HOME PAGE BUTTONS ---------------*/



.buttons-btn {
    @include span-columns(9);
    padding-top: 40px;
    @include media($tablet) {
        @include span-columns(6);
    }
    @include media($mobile) {
        @include span-columns(3);
    }
}

.container-button { 
    @include span-columns(12);
    display: block;
    p {
        font-family: $frutigerLightCond;
        font-size: 1.5em;
        text-align: center;  
    }
}

.btn {
    margin-left: -5.3px;
    color: #b2b2b2;
    cursor: pointer;
    font-size:1em;
    line-height: 60px;
    display: inline-block;
    max-width: 160px;
    text-decoration: none;
    vertical-align: middle;
    width: 100%;
    @include media($mobile) {
        border-top: 1px solid;
        border-bottom: 1px solid;
        max-width: 100%;
        margin: 0 0 -1px 0;
    }
}

.btn p:hover {
    color: #fff;
}

.btn-4 {
  border: 1px solid;
  @include media($mobile) {
        border: none;
        width: 100%;
        display: block;
        text-align: center;
        margin: 0 auto;
        a {
            border-bottom: 1px solid #fff;
        }
    }
}

.btn-4:hover {
  background: #2775F6;
  @include media($mobile) {
    background: $gray;

  }
  p:hover {
    @include media($mobile) {
        color: #fff;
        }
    }
}

.btn a:active {
    @include media($mobile) {
        color: $blue;
    }
}


/* -----------------------------END BUTTONS ------------------------*/
/* -----------------------------END BUTTONS ------------------------*/
/* -----------------------------END BUTTONS ------------------------*/
/* -----------------------------END BUTTONS ------------------------*/


button {
    display: none;
    span {
        display: none;
    }
}

.mob-nav-container {
    ul {
       display: none; 
    }
    
}

ul.btn-mobile {
    li{
        display: none;
    }
}
    


/* ------------ MOBILE LAYOUT VALUE ---------*/

.mobile-column {
    display: none;
}

.buttons-btn-mob {
    display: none;
}

hr {
    display: none;
}

/* ------------ MEDIA QUERIES ---------*/
/* ------------ MEDIA QUERIES ---------*/
/* ------------ MEDIA QUERIES ---------*/
/* ------------ MEDIA QUERIES ---------*/
/* ------------ MEDIA QUERIES ---------*/

@media only screen and (min-device-width: 220px) and (max-device-width: 480px) {

    .content-value {
        display: none;
        background-color: white;
    }

    .mobile-column {
        @include media($tablet) {
        @include span-columns(3);
        display: block;
        }
        @include media($mobile) {
            @include span-columns(3);
            display: block;
        }
        

        div.band-container-gray .white {
            background-color: white;
        }

    }

    .main-nav {
        ul {
            display: none;
        }
    }

    button {
        position: fixed;
        top: 0;
        right: 0;
    }
}

/*------------- hiding and showing banner imgs ------*/

@media screen and (max-width: 480px) {

    div.actual-banner img {
        display: none !important;
    }

    section.letters_list {
        display: none !important;
    }

}

@media screen and (min-width: 480px) {

    div.actual-banner-mob img {
        display: none !important;
    }

    section.letters_list-mob {
        display: none;
    }

}

/* ----------- ABOUT PAGE -----------------------*/
/* ----------- ABOUT PAGE -----------------------*/
/* ----------- ABOUT PAGE -----------------------*/
/* ----------- ABOUT PAGE -----------------------*/


.page_banner {
    position: relative;
    div.intro-box {
        width: 100%;
        height: 200px;
        background-color: $blue;
        @include media($tablet) {
            height: 250px;
        }
        
        div.inner_banner {
            @include outer-container;
            @extend .global_pad;
            padding-top: 50px;
            padding-bottom: 50px;
            position: relative;
            height: 100%;
            div.page-name {
                @include span-columns(6);
                h1 {
                    font-family: $frutigerBoldCond;
                    font-size: 1.5em; 
                    line-height: 15px;
                    color: #b2b2b2;
                    padding-bottom: 50px;
                }
                 @include media($mobile) {
                    h1.terms {
                        @include span-columns(6);
                    }
                }
            }
            div {
                p {
                    @include span-columns(5);
                    font-family: $frutigerLightCond;
                    font-size: 1.5em;
                    line-height: 1.2;
                    color: #b2b2b2;
                    @include media($tablet) {
                        @include span-columns(3);
                    }
                    @include media($mobile) {
                        @include span-columns(3);
                        font-size: 1em;
                    }
                }
            }
        }
    }
}

div.actual-banner-about {
@include outer-container;
    background-color: #eee;
    position: relative;
    height: 550px;
    margin: 0 auto;
    background: url('../images/DW_About.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/DW_About-mob.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/DW_About-mob.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }
}
div.actual-banner-about-history {
@include outer-container;
    background-color: #eee;
    position: relative;
    height: 550px;
    margin: 0 auto;
    background: url('../images/DW_History.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/DW_History-mob.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/DW_History-mob.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }
}

div.actual-banner-mob img {
    position: relative;
    display: block;
    height: auto;
    background-size: 100%;
    background-position: top;
}

section.firm {
    @include outer-container;
    @extend .global_pad;
    position: relative;
    padding-bottom: 0;
    div.block {
        @include span-columns(12);
        top: 0;
        h2.title {
            padding-bottom: 20px;
            font-size: 19px;
            color: $gray;
            font-family: $frutigerBoldCond;
            @include media ($tablet) {
            }
        }
        div.description {
            p.description-text-left {
                @include span-columns(5);
                @include type($small, #b2b2b2);
                line-height: 20px;
                padding-bottom: 30px;
                font-size: 19px;
                line-height: 25px;
                font-family: $frutigerLightCond;
                @include media($tablet) {
                    @include span-columns(5);
                    font-size: 19px;
                    line-height: 25px;
                    @include shift(0);
                }
                 @include media($mobile) {
                    @include span-columns(3);
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            p.description-text-right {
                @include span-columns(5);
                @include shift(1);
                @include type($small, #b2b2b2);
                line-height: 20px;
                padding-bottom: 30px;
                font-size: 19px;
                line-height: 25px;
                font-family: $frutigerLightCond;
                @include media($tablet) {
                    @include span-columns(5);
                    font-size: 19px;
                    line-height: 25px;
                    @include shift(0);
                }
                 @include media($mobile) {
                    @include span-columns(3);
                    @include shift(0);
                    font-size: 16px;
                    line-height: 20px;
                    
                }
            }
        } 
    }
}
section.history {
    @include outer-container;
    @extend .global_pad;
    position: relative;
    padding-bottom: 60px;
    div.block {
        @include span-columns(12);
        top: 0;
        h2.title {
            padding-bottom: 20px;
            font-size: 19px;
            color: $gray;
            font-family: $frutigerBoldCond;
            @include media ($tablet) {
            }
        }
        div.description {

            p.description-text-left {
                @include span-columns(5);
                @include type($small, #b2b2b2);
                line-height: 20px;
                padding-bottom: 30px;
                font-size: 19px;
                line-height: 25px;
                font-family: $frutigerLightCond;
                @include media($tablet) {
                    @include span-columns(5);
                    font-size: 19px;
                    line-height: 25px;
                    @include shift(0);
                }
                 @include media($mobile) {
                    @include span-columns(3);
                    font-size: 16px;
                    line-height: 20px;
                    
                }
            }
            p.description-text-right {
                @include span-columns(5);
                @include shift(1);
                @include type($small, #b2b2b2);
                line-height: 20px;
                padding-bottom: 30px;
                font-size: 19px;
                line-height: 25px;
                font-family: $frutigerLightCond;
                @include media($tablet) {
                    @include span-columns(5);
                    font-size: 19px;
                    line-height: 25px;
                    @include shift(0);
                }
                 @include media($mobile) {
                    @include span-columns(3);
                    @include shift(0);
                    font-size: 16px;
                    line-height: 20px;
                    
                }
            }
        } 
    }
}
section.philosophy {
    @include outer-container;
    @extend .global_pad;
    position: relative;
    padding-bottom: 60px;
    div.block {
        @include span-columns(12);
        top: 0;
        h2.title {
            padding-bottom: 20px;
            font-size: 19px;
            color: $gray;   
            font-family: $frutigerBoldCond;
            @include media ($tablet) {
            }
        }
        div.description {
            p.description-text-left {
                @include span-columns(5);
                @include type($small, #b2b2b2);
                line-height: 20px;
                padding-bottom: 30px;
                font-size: 19px;
                line-height: 25px;
                font-family: $frutigerLightCond;
                @include media($tablet) {
                    @include span-columns(5);
                    font-size: 19px;
                    line-height: 25px;
                    @include shift(0);
                }
                 @include media($mobile) {
                    @include span-columns(3);
                    font-size: 16px;
                    line-height: 20px;
                    
                }
            }
            p.description-text-right {
                @include span-columns(5);
                @include shift(1);
                @include type($small, #b2b2b2);
                line-height: 20px;
                padding-bottom: 30px;
                font-size: 19px;
                line-height: 25px;
                font-family: $frutigerLightCond;
                @include media($tablet) {
                    @include span-columns(5);
                    font-size: 19px;
                    line-height: 25px;
                    @include shift(0);
                }
                 @include media($mobile) {
                    @include span-columns(3);
                    @include shift(0);
                    font-size: 16px;
                    line-height: 20px;
                    
                }
            }
        } 
    }
}

/* ----------- VALUE PAGE -----------------------*/
/* ----------- VALUE PAGE -----------------------*/
/* ----------- VALUE PAGE -----------------------*/
/* ----------- VALUE PAGE -----------------------*/


div.actual-banner-value {
@include outer-container;
    background-color: #eee;
    position: relative;
    height: 550px;
    margin: 0 auto;
    background: url('../images/DW_Value.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/DW_Value-mob.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/DW_Value-mob.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }
}

section.value {
    @include outer-container;
    @extend .global_pad;
    position: relative;
    padding-bottom: 0;
    div.block-value {
        @include span-columns(12);
        top: 0;
        section.description-text-left {
            @include span-columns(5);
            @include type($small, #b2b2b2);
            line-height: 20px;
            padding-bottom: 80px;
            font-family: $frutigerLightCond;
            @include media($mobile) {
                @include span-columns(3);
            }
            h3.title {
                padding-bottom: 20px;
                line-height: 1.2em;
                font-size: 19px;
                color: $gray;
                font-family: $frutigerBoldCond;
                @include media ($tablet) {
                }   
            }
            p.value {
                font-size: 19px;
                line-height: 25px;
                @include media($mobile) {
                    
                    font-size: 16px;
                    line-height: 20px;
                
                }
            }
        }
        section.description-text-right {
            @include span-columns(5);
            @include shift(1);
            @include type($small, #b2b2b2);
            line-height: 20px;
            padding-bottom: 80px;
            font-family: $frutigerLightCond;
            @include media($mobile) {
                @include span-columns(3);
                @include shift(0);
            }
            h3.title {
                padding-bottom: 20px;
                line-height: 1.2em;
                font-size: 19px;
                color: $gray;
                font-family: $frutigerBoldCond;
                @include media ($tablet) {
                }   
            }
            p.value {
                font-size: 19px;
                line-height: 25px;
                @include media($mobile) {
                    
                    font-size: 16px;
                    line-height: 20px;
                
                }
            }

        } 
    }
}

div.band-container-white {
    background-color: #fff;
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 0;
    div.block-value {
        @include span-columns(12);
        top: 0;
        section.description-text-left {
            @include span-columns(5);
            @include type($small, #b2b2b2);
            line-height: 20px;
            padding-bottom: 80px;
            font-family: $frutigerLightCond;
            @include media($mobile) {
                @include span-columns(3);
            }
            h3.title {
                padding-bottom: 20px;
                line-height: 1.2em;
                font-size: 19px;
                color: $gray;
                font-family: $frutigerBoldCond;
                @include media ($tablet) {
                }   
            }
            p.value {
                font-size: 19px;
                line-height: 25px;
                @include media($mobile) {
                    
                    font-size: 16px;
                    line-height: 20px;
                
                }
            }
            
        }
        section.description-text-right {
            @include span-columns(5);
            @include shift(1);
            @include type($small, #b2b2b2);
            line-height: 20px;
            padding-bottom: 80px;
            font-family: $frutigerLightCond;
            @include media($mobile) {
                @include span-columns(3);
                @include shift(0);
            }
            h3.title {
                padding-bottom: 20px;
                line-height: 1.2em;
                font-size: 19px;
                color: $gray;
                font-family: $frutigerBoldCond;
                @include media ($tablet) {
                }   
            }
            p.value {
                font-size: 19px;
                line-height: 25px;
                @include media($mobile) {
                    
                    font-size: 16px;
                    line-height: 20px;
                
                }
            }
        } 
    }
}


div.band-container-gray .white {
    background-color: white;
}


section.detail-layout-value {
    @include outer-container;
    @extend .global_pad;
    div.detail {
        @include span-columns(4);
        @include omega(3n);
        margin-top: 1em;
        margin-bottom: 1em;
        position: relative;
        h3 {
            font-family: $frutigerLightCond;
            @include type($small, $blue);
            margin-bottom: 14px;
        }
        p {
            @include type($small, $gray);
            font-family: $frutigerLightCond;
        }
        @include media($tablet) {
            @include span-columns(5);
        }
        @include media($mobile) {
            @include span-columns(3);
            
        }
    }
}

.band-container-gray-letters {
    border-bottom: 1px solid #828282;
}

/* ----------- PROCESS PAGE -----------------------*/
/* ----------- PROCESS PAGE -----------------------*/
/* ----------- PROCESS PAGE -----------------------*/
/* ----------- PROCESS PAGE -----------------------*/


div.actual-banner-process {
@include outer-container;
    background-color: #eee;
    position: relative;
    height: 550px;
    margin: 0 auto;
    background: url('../images/DW_Process.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/DW_Process-mob.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/DW_Process-mob.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }
}

div.actual-banner-process-bottom {
@include outer-container;
    background-color: #eee;
    position: relative;
    height: 550px;
    margin: 0 auto;
    background: url('../images/DW_Process-bottom.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/DW_Process-bottom-mob.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/DW_Process-bottom-mob.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }
}

section.process {
    @include outer-container;
    @extend .global_pad;
    position: relative;
    padding-bottom: 60px;
    div.block {
        @include span-columns(12);
        top: 0;
        h2.title {
            padding-bottom: 20px;
            font-size: 19px;
            color: $gray;
            font-family: $frutigerBoldCond;
            @include media ($tablet) {
            }
        }
        div.description {
            p.description-text-left {
                @include span-columns(5);
                @include type($small, #b2b2b2);
                padding-bottom: 30px;
                font-size: 19px;
                line-height: 25px;
                font-family: $frutigerLightCond;
                @include media($tablet) {
                    @include span-columns(5);
                    font-size: 19px;
                    line-height: 25px;
                    @include shift(0);
                }
                 @include media($mobile) {
                    @include span-columns(3);
                    font-size: 16px;
                    line-height: 20px;
                    
                }
            }
            p.description-text-right {
                @include span-columns(5);
                @include shift(1);
                @include type($small, #b2b2b2);
                line-height: 20px;
                padding-bottom: 30px;
                font-size: 19px;
                line-height: 25px;
                font-family: $frutigerLightCond;
                @include media($tablet) {
                    @include span-columns(5);
                    font-size: 19px;
                    line-height: 25px;
                    @include shift(0);
                }
                 @include media($mobile) {
                    @include span-columns(3);
                    @include shift(0);
                    font-size: 16px;
                    line-height: 20px;
                    
                }
            }
        } 
    }
}
section.process_list {
    @include outer-container;
    @extend .global_pad;
    position: relative;
    padding-bottom: 60px;
    div.block {
        @include span-columns(12);
        top: 0;
        h2.title {
            @include span-columns(12);
            padding-bottom: 20px;
            font-size: 19px;
            color: $gray;
            font-family: $frutigerBoldCond;
            @include media($tablet) {
                    @include span-columns(5);
                    font-size: 19px;
                    line-height: 25px;;
                    @include shift(0);
                }
            @include media ($tablet) {
            }
        }
        div.description {
            ul.left {
                @include span-columns(5);
                @include type($small, #b2b2b2);
                padding-bottom: 30px;
                font-size: 19px;
                font-family: $frutigerLightCond;
                li {
                    list-style-type: disc;
                    line-height: 27px;
                }
                @include media($tablet) {
                    @include span-columns(3);
                    font-size: 19px;
                    line-height: 25px;
                    @include shift(0);
                }
                @include media($mobile) {
                    @include span-columns(3);
                    margin-left: 20px;
                    font-size: 16px;
                    line-height: 20px;

                    
                }
            }
            ul.right {
                @include span-columns(5);
                @include shift(1);
                @include type($small, #b2b2b2);
                padding-bottom: 30px;
                font-size: 19px;
                font-family: $frutigerLightCond;
                @include media($tablet) {
                    @include span-columns(3);
                    font-size: 19px;
                    line-height: 25px;
                    @include shift(0);
                }
                li {
                    list-style-type: disc;
                    line-height: 27px;
                }
                @include media($mobile) {
                    @include span-columns(3);
                    margin-left: 20px;
                    font-size: 16px;
                    line-height: 20px;

                    
                }
            }
        } 
    }
}


/* ----------- PEOPLE PAGE -----------------------*/
/* ----------- PEOPLE PAGE -----------------------*/
/* ----------- PEOPLE PAGE -----------------------*/
/* ----------- PEOPLE PAGE -----------------------*/


.your_color_class {
    background-color: black;
}

section.people {
    @include outer-container;
    @extend .global_pad;
    div.person {
        @include span-columns(3);
        @include omega(4n);
        background-color: #eee;
        margin-top: 1em;
        margin-bottom: 1em;
        position: relative;
        @include media($tablet) {
            @include span-columns(3);
            @include omega(2n);
        }
        @include media($mobile) {
            @include span-columns(3);
            @include omega(4n);
        }
        
        /*img.person_headshot:hover + div#person_name {
            background-color: rgba($blue, 0.6);
           
        }*/

        div.person_name {
            position: absolute;
            height: 60px;
            bottom: 0;
            background-color: rgba(black, 0.6);
            width: 100%;
            @include pad(0 1em);
            h1 {
                line-height: 35px;
                color: #fff;
                @include type($small, #fff);
                font-family: $frutigerBoldCond;
            }
            p {
                line-height: 5px;
                @include type($small, #fff);
                font-family: $frutigerLightCond;
            }
            p:hover {
                opacity: 1;
            }
            a {
                color: #fff;
                text-decoration: none;
            }
            a:hover{
                
            }
        }
        div.person_name:hover {
            background-color: #004fb1;
        }
    }
}
/* --------------- Single person people grid - mobile -----*/
/* --------------- Single person people grid - mobile -----*/
/* --------------- Single person people grid - mobile -----*/
/* --------------- Single person people grid - mobile -----*/


section.person-info {
    @include outer-container;
    @extend .global_pad;
    div {
        h2.title-person-single {
            font-family: $frutigerBoldCond;
            font-size: 1.5em;
            p.sub-header {


            }
        }
        div.description-person-single {
        }
    }
}

section.people-single {
    @include outer-container;
    @extend .global_pad;
    div.person-single {
        @include span-columns(3);
        @include omega(4n);
        background-color: #eee;
        margin-top: 1em;
        margin-bottom: 1em;
        position: relative;
        @include media($tablet) {
            @include span-columns(3);
            @include omega(2n);
        }
        
        img.person_headshot:hover {
           
        }

        div.person_name-single {
            position: absolute;
            height: 60px;
            bottom: 0;
            /*background-color: rgba(black, 0.6);*/
            width: 100%;
            @include pad(0 1em);
            h1 {
                line-height: 35px;
                color: #fff;
                @include type($small, #fff);
                font-family: $frutigerLightCond;
                @include media($tablet) {
                    line-height: 25px;
                    font-size: 10pt;
                }
                
            }
            p {
                line-height: 20px;
                color:#fff;
                font-size: 10pt;
                font-family: $frutigerLightCond;
                @include media($tablet) {
                    line-height: 15px;
                    font-size:9pt;
                }
            }
            p:hover {
                opacity: 1;
            }
            a {
                color: #fff;
                text-decoration: none;
            }
            a:hover{
                
            }
        }
        div.person_name:hover {
            /*background-color: rgba($blue, 0.6);*/
        }
    }
}


div.band-container-gray {
    background-color: #eee;
    width: 100%;
    height: auto;
}

/* ----------- LETTERS PAGE -----------------------*/
/* ----------- LETTERS PAGE -----------------------*/
/* ----------- LETTERS PAGE -----------------------*/
/* ----------- LETTERS PAGE -----------------------*/


div.actual-banner-letters {
@include outer-container;
    background-color: #eee;
    position: relative;
    height: 550px;
    margin: 0 auto;
    background: url('../images/DW_Letters.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/DW_Letters-mob.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/DW_Letters-mob.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }
}

section.letters_list {
    @include outer-container;
    @extend .global_pad;
    ul {
        padding-bottom: 60px;
        @include span-columns(12);
        @include media($tablet) {
        }
        @include media($mobile) {
            display: block;
        }

        li.number-one {
            display: inline-block;
            margin-right: 80px;
            width: 460px;
            height: 300px;
            background: url(../images/letter-2.png) no-repeat 0 0;
            @include media($mobile) {
                width: 305px;
                height: 205px;
                background: url(../images/letter-2.png) no-repeat;
                background-size: 300px 410px;
            }
        }

        li.number-one:hover {
            background: url(../images/letter-2.png) no-repeat;
            background-position:1px -295px;
            z-index: 999;
            @include media($mobile) {
                visibility: hidden;
            }
        }

        li.number-two {
            display: inline-block;
            width: 460px;
            height: 300px;
            background: url(../images/letter-1.png) no-repeat 0 0;
            @include media($mobile) {
                width: 305px;
                height: 205px;
                background: url(../images/letter-1.png) no-repeat;
                background-size: 300px 410px;
            }
            
        }

        li.number-two:hover {
            background: url(../images/letter-1.png) no-repeat;
            background-position:0 -294px;
            z-index: 999;
            @include media($mobile) {
                visibility: hidden;
            }
        }

        li.number-three{
            display: inline-block;
            margin-right: 80px;
            width: 460px;
            height: 300px;
            background: url(../images/letter-3.png) no-repeat 0 0;
            @include media($mobile) {
                width: 305px;
                height: 205px;
                background: url(../images/letter-3.png) no-repeat;
                background-size: 300px 410px;
            }
        }

        li.number-three:hover {
            background: url(../images/letter-3.png) no-repeat;
            background-position:0 -294px;
            z-index: 999;
            @include media($mobile) {
                visibility: hidden;
            }
        }

        li.number-four{
            display: inline-block;
            width: 460px;
            height: 300px;
            background: url(../images/letter-4.png) no-repeat 0 0;
            @include media($mobile) {
                width: 305px;
                height: 205px;
                background: url(../images/letter-4.png) no-repeat;
                background-size: 300px 410px;
            }
        }

        li.number-four:hover {
            background: url(../images/letter-4.png) no-repeat;
            background-position:0 -292px;
            z-index: 999;
            @include media($mobile) {
                visibility: hidden;
            }
        }
    }
    a.three {
        text-decoration: none;

    }
}

/* --------------Letters mobile list -----------*/
/* --------------Letters mobile list -----------*/
/* --------------Letters mobile list -----------*/
/* --------------Letters mobile list -----------*/


section.letters_list-mob {
    background-color: #fff;
    ul {
        margin-left: 30px;
        li.number-one-mob {
            margin-bottom: 30px;
            display: block;
            background: url(../images/letter-2-s.png) no-repeat;
            width: 305px;
            height: 205px;
            background-size: 300px 410px;
        }
        li.number-two-mob {
            margin-bottom: 30px;
            display: block;
            background: url(../images/letter-1-s.png) no-repeat;
            width: 305px;
            height: 205px;
            background-size: 300px 410px;
        }
        li.number-three-mob {
            margin-bottom: 30px;
            display: block;
            background: url(../images/letter-3-s.png) no-repeat;
            width: 305px;
            height: 205px;
            background-size: 300px 410px;
        }
        li.number-four-mob {
            margin-bottom: 30px;
            display: block;
            background: url(../images/letter-4-s.png) no-repeat;
            width: 305px;
            height: 205px;
            background-size: 300px 410px;
        }
    }
}

/* ----------- CONTACT PAGE -----------------------*/
/* ----------- CONTACT PAGE -----------------------*/
/* ----------- CONTACT PAGE -----------------------*/
/* ----------- CONTACT PAGE -----------------------*/


section.contact_list {
    @include outer-container;
    @extend .global_pad;
    width: 100%;
    height: 450px;
    div.contact {
        @include span-columns(12);
        padding: 50px 0 30px 0;
        display: block;
        div.city-address { 
            @include span-columns(6);
                @include media($tablet) {
                @include span-columns(6);
                @include omega(2n);
            }
            @include media($mobile) {
                @include span-columns(3); 
            }
            float: left;
            padding: 0 30px 30px 0;
            h3.city-name {
                font-family: $frutigerBoldCond;
                font-size: 19px;
                color: $gray;
                padding-bottom: 25px;
            }

            p.address-info {
                font-size: 19px;
                line-height: 25px;
                font-family: $frutigerLightCond;
                color: $gray;
            }
        }
        div.city-img {
            @include span-columns(6);
                @include media($tablet) {
                @include span-columns(6);
                @include omega(2n);
            }
            @include media($mobile) {
               @include span-columns(3); 
            }
        }
    }
}

#map-canvas {
    min-height: 500px;
    width: 100%;
    @include media($mobile) {
       min-height: 150px
    }
}

#map-canvas2 {
    min-height: 500px;
    width: 100%;
    @include media($mobile) {
       min-height: 150px
    }
}

#map-canvas3 {
    min-height: 500px;
    width: 100%;
    @include media($mobile) {
       min-height: 150px
    }
}

.gmnoprint-nyc img {
    max-width: none;
}

.gmnoprint-dc img {
    max-width: none;
}

.gmnoprint-boston img {
    max-width: none;
}

/*section.credits {
    @include outer-container;
    @extend .global_pad;
    ul.credits {
        color: $gray;
        @include span-columns(12);
        li.credits {
            font-family: $frutigerBoldCond;
        }
        li {
            @include span-columns(6);
            font-family: $frutigerLightCond;
        }
    }
}*/

/* ----------- TERMS OF USE PAGE -----------------------*/
/* ----------- TERMS OF USE PAGE -----------------------*/
/* ----------- TERMS OF USE PAGE -----------------------*/
/* ----------- TERMS OF USE PAGE -----------------------*/


section.terms {
    @include outer-container;
    @extend .global_pad;
    padding-bottom: 100px;
    ul.terms {
        @include span-columns(12);
        color: $gray;
        padding-bottom: 30px;
        border-bottom: 1px solid $gray;
        li.legal {
            font-family: $frutigerBoldCond;
            padding-bottom: 30px;
        }
        li {
            @include span-columns(6);
            font-family: $frutigerLightCond;
            @include media($mobile) {    
                @include span-columns(3);
                display: block;
            }
        }
    }
    ul.design-dev {
        @include span-columns(12);
        
        color: $gray;
        height: 100%;
        
        @include media($mobile) {
            @include span-columns(3);
        }
        li.design-dev {
            @include span-columns(6);
            font-family: $frutigerBoldCond;
            padding-top: 30px;
            @include media($mobile) {
                @include span-columns(3);
            }
        }
        li.pdc {
            @include span-columns(6);
            font-family: $frutigerLightCond;
            padding-top: 30px;
        }
        a {
            color: $gray;
        } 
        a:hover {
            color: $blue;
            font-family: $frutigerBoldCond;
        }
    }

}

/* ----------- FOOTER PAGE -----------------------*/
/* ----------- FOOTER PAGE -----------------------*/
/* ----------- FOOTER PAGE -----------------------*/
/* ----------- FOOTER PAGE -----------------------*/


footer {
    background-color: #000;
    width: 100%;
    z-index: 999;
    height: auto;
    font-family: $frutigerLightCond;
    div.inner_footer {
        @include outer-container;
        @extend .global_pad;
        ul {
            @include span-columns(12);
            padding-top: 0;
            li.copyright {
                @include span-columns(6);
                @include media($mobile) {
                    padding-top: 30px;
                    @include span-columns(3);
                    font-size: 0.8em;
                }
            }
            li {
                @include span-columns(3);
                display: inline-block;
                font-size: 1em;
                color: #b2b2b2;
                @include media($mobile) {
                    @include span-columns(3);
                    padding-bottom: 20px;
                    font-size: 0.8em;
                }
            }
            a {
                text-decoration: none;
                color: #b2b2b2;
                
            }
            a:hover {
                color: $blue;
            }
        }   
    } 
}

footer.value {
    background-color: #000;
    width: 100%;
    z-index: 999;
    height: auto;
    font-family: $frutigerLightCond;
    div.inner_footer-value {
        @include outer-container;
        @extend .global_pad;
        ul {
            @include span-columns(12);
            li.copyright {
                @include span-columns(6);
                @include media($mobile) {
                    @include span-columns(5);
                    font-size: 1em;
                }
            }
            li {
                @include span-columns(3);
                display: inline-block;
                font-size: 1em;
                color: #b2b2b2;
                @include media($mobile) {
                    @include span-columns(3);
                    padding-bottom: 20px;
                    font-size: 1em;
                }
            }
            a {
                text-decoration: none;
                color: #b2b2b2;
            }
            a:hover {
                color: $blue;
            }
        }   
    } 
}
