@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "utilities/variables";
@import "utilities/universal";

html, body {
    font-family: $frutigerRoman;
    background-color: #fff;
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;

}


.vertical_center_parent {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    /*justify-content: center;*/
}
.global_pad {
    @include pad(1.5em $desk);
    @include media($tablet) {
        @include pad(2em $tab);
    }
    @include media($mobile) {
        @include pad(2em $mob);
    }
}
.sidepad {
    @include pad(0 $desk);
    @include media($tablet) {
        @include pad(0 $tab);
    }
    @include media($mobile) {
        @include pad(0 $mob);
    }
}
.inner_header {
    @extend .sidepad;
    h1 {
        a {
            @include media($tablet) {
                @include span-columns(10);
            }
        }
    }
}

/*----------------- HOME PAGE -----------*/

header.home{
    z-index: 999;
    position: relative;
    background-color: transparent;
    border-bottom: 1px solid #b2b2b2;
    div.inner_header_home {
        @include outer-container;
        height: 60px;
        h1 {
            @include span-columns(6);
            line-height: 60px;
            font-family: $frutigerBoldCond;
            font-size: 1em;
            a {
                text-decoration: none;
                color: #b2b2b2;
            }
            @include media($mobile){
                font-size: 1rem;
            }
            @include media($tiny){
                @include span-columns(2);
            }
        }
        nav.main-nav-home {
            ul {
                @include span-columns(6);
                margin:0;
                @include media($tablet) {
                    @include span-columns(5);
                    background-color: #fff;
                    display: none;
                }
                @include media($mobile) {
                    @include span-columns(3);
                    background-color: #fff;
                    display: none;
                }
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                li {
                    @include span-columns(2);
                    font-family: $frutigerBoldCond;
                    font-size: 1em;
                    margin: 20px 0 5px 0;
                    display: inline-block;
                    @include media($tablet) {
                        @include span-columns(6);
                        display: block;
                    }
                    @include media($mobile) {
                        @include span-columns(3);
                        display: block;
                    }
                    a {
                        width: 50px;
                        color: #b2b2b2;
                        text-decoration: none;
                        padding-bottom: 5px;

                    }
                    a:visited {
                        
                    }
                    a:hover {
                        color: #2775F6;
                    }
                    a:active{
                        color: $blue;
                    }
                    .currentpage a:active {
                        color: red;
                    }
                    .main-nav li.current {
                        border-bottom:1px #333 solid;
                    }
                }
            }
        }
    }
}

nav.nav-hide ul li a{
    font-family: $frutigerLightCond !important;
}

aside.page_banner_home {
    z-index: 0;
    background-color: #eee;
    top: 0;
    left: 0;
    min-height: 100%;
    overflow: auto;
    background: url('../images/DW_Home2.jpg') center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    div.overlay_home {
        @include outer-container;
        @extend .global_pad;
        padding-bottom: 50px;
        div.inner_banner_home {
            padding: 100px 0 0 0;
            position: relative; 
            
            /* equal to footer height */
            margin-bottom: -142px; 
            @include media($tablet) {
                padding-top: 100px;
            }
            @include media($mobile) {
                padding-top: 30px;
            }
            @include media($tiny) {
                
            }
            div.home-logo{
                    @extend .vertical_center_parent;
                    h1.home-logo-name {
                        font-size: 3em;
                        font-family: $frutigerBoldCond;
                        color: $gray;
                        @include media($tablet) {
                            @include span-columns(3);
                        }
                        @include media($mobile) {
                            @include span-columns(3);
                            font-size: 1.5em;
                        }
                    }

                }
            }
            div.home-message {
                padding-top:30px;
                display: block;
                p{
                    @include span-columns(7);
                    font-size: 3em;
                    color: $gray;
                    font-family: $frutigerLightCond;
                    @include media($tablet) {
                        @include span-columns(5);
                    }
                    @include media($mobile) {
                        @include span-columns(3);
                        font-size: 1.5em;
                    }
                }
            }
            button {
                border: 1px solid #b2b2b2; 
            }
        }
    }



div.overlay-mobile {
    display: none;
}


/* ----------------------------HOME PAGE BUTTONS ---------------*/



.buttons-btn {
    @include span-columns(9);
    padding-top: 40px;
    @include media($tablet) {
        @include span-columns(6);
    }
    @include media($mobile) {
        @include span-columns(3);
    }
}

.container-button { 
    @include span-columns(12);
    display: block;
    p {
        font-family: $frutigerLightCond;
        font-size: 1.5em;
        text-align: center;  
    }
}

.btn {
    margin-left: -5px;
    color: $gray;
    cursor: pointer;
    font-size:1em;
    line-height: 60px;
    display: inline-block;
    max-width: 160px;
    text-decoration: none;
    vertical-align: middle;
    width: 100%;
    @include media($mobile) {
        border-top: 1px solid;
        max-width: 100%;
    }
}

.btn-4 {
  border: 1px solid;
  @include media($mobile) {
        border: none;
        width: 100%;
        display: block;
        text-align: center;
        margin: 0 auto;
        a {
            border-bottom: 1px solid $gray;
        }
    }
}

.btn-4:hover {
  background: #2775F6;
  @include media($mobile) {
    background: transparent;
  }
  p:hover {
    @include media($mobile) {
        color: #2775F6;
        }
    }
}



/* -----------------------------END BUTTONS ------------------------*/

header {
    z-index: 999;
    position: relative;
    background-color: $blue;
    border-bottom: 1px solid #5e9eec;
    div.inner_header {
        @include outer-container;
        height: 60px;
        h1 {
            @include span-columns(6);
            line-height: 60px;
            font-family: $frutigerBoldCond;
            font-size: 1em;

            a {
                text-decoration: none;
                color: #b2b2b2;
            }
            @include media($mobile){
                font-size: 1rem;
            }
            @include media($tiny){
                @include span-columns(2);
            }
        }
        div.main-nav {
            ul {
                @include span-columns(6);
                margin:0;
                @include media($tablet) {
                    @include span-columns(5);
                    background-color: #fff;
                    display: none;
                }
                @include media($mobile) {
                    @include span-columns(3);
                    background-color: #fff;
                    display: none;
                }
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                li {
                    @include span-columns(2);
                    font-family: $frutigerBoldCond;
                    font-size: 1em;
                    margin: 20px 0 5px 0;
                    display: inline-block;
                    @include media($tablet) {
                        @include span-columns(6);
                        display: block;
                    }
                    @include media($mobile) {
                        @include span-columns(3);
                        display: block;
                    }
                    a {
                        width: 50px;
                        color: #b2b2b2;
                        text-decoration: none;
                        padding-bottom: 5px;

                    }
                    a:visited {
                        
                    }
                    a:hover {
                        color: #2775F6;

                    }
                    .currentpage a:active {
                        color: red;
                    }
                    .main-nav li.current {
                        border-bottom:1px #333 solid;
                    }
                }
            }
        }
    }
}


button {
    display: none;
    span {
        display: none;
    }
}

.mob-nav-container {
    ul {
       display: none; 
    }
    
}

ul.btn-mobile {
    li{
        display: none;
    }
}
    


/* ------------ MOBILE LAYOUT VALUE ---------*/

.mobile-column {
    display: none;
}

.buttons-btn-mob {
    display: none;
}

hr {
    display: none;
}

/*@media (max-width: 480px) {
    div.overlay-mobile {
        div.inner_banner-mobile {
            height: 175px;
            padding: 10%;
            background-color: rgba($blue, 0.6);
        }
    }
}*/

@media only screen and (min-device-width: 220px) and (max-device-width: 480px) {

    .content-value {
        display: none;
    }

    .mobile-column {
        @include media($tablet) {
        @include span-columns(3);
        display: block;
        }
        @include media($mobile) {
            @include span-columns(3);
            display: block;
        }
        

        div.band-container-gray .white {
            background-color: white;
        }

    }

    .main-nav {
        ul {
            display: none;
        }
    }

    button {
        position: fixed;
        top: 0;
        right: 0;
    }



/* --------------HAMBURGER STARTS -----------*/
    



} /* ---media one ends ---*/

/*------------- hiding and showing banner imgs ------*/

@media screen and (max-width: 480px) {

    div.actual-banner img {
        display: none !important;
    }

}

@media screen and (min-width: 480px) {

    div.actual-banner-mob img {
        display: none !important;
    }
}
/* --- media two ends ---*/

/* ----------- ABOUT PAGE -----------------------*/


.page_banner_firm {
    
    position: relative;
    div.intro-box {
        width: 100%;
        height: auto;
        background-color: $blue;
        @include media($mobile) {
            
        }
        div.inner_banner {
            @include outer-container;
            @extend .global_pad;
            padding-top: 50px;
            padding-bottom: 50px;
            position: relative;
            height: 100%;
            div.page-name {
                @include span-columns(6);
                h1 {
                    font-family: $frutigerBoldCond;
                    font-size: 1.5em; 
                    line-height: 15px;
                    color: #b2b2b2;
                    padding-bottom: 50px;
                }
            }
            div {
                p {
                    @include span-columns(5);
                    font-family: $frutigerLightCond;
                    font-size: 1.5em;
                    line-height: 1.2;
                    color: #b2b2b2;
                    @include media($tablet) {
                        @include span-columns(3);
                    }
                    @include media($mobile) {
                        @include span-columns(3);
                        font-size: 1em;
                    }
                }
            }
        }
    }
    div.actual-banner img {
        position: relative;
        display: block;
        height: auto;
        background-size: 100%;
        background-position: top;
            @include media($tablet) {
            }
            @include media($mobile) {
                display: none;
        }
    }
}

div.actual-banner-mob img {
    position: relative;
    display: block;
    height: auto;
    background-size: 100%;
    background-position: top;
}



section.firm {
    @include outer-container;
    @extend .global_pad;
    position: relative;
    padding-bottom: 0;
    div.block {
        @include span-columns(12);
        top: 0;
        h2.title {
            padding-bottom: 30px;
            font-size: 1.5em;
            color: #b2b2b2;
            font-family: $frutigerLightCond;
            @include media ($tablet) {
            }
        }
        div.description {
            p.description-text-left {
                @include span-columns(5);
                @include type($small, #b2b2b2);
                line-height: 20px;
                padding-bottom: 30px;
                font-family: $frutigerLightCond;
                 @include media($mobile) {
                    @include span-columns(3);
                    
                }
            }
            p.description-text-right {
                @include span-columns(5);
                @include shift(1);
                @include type($small, #b2b2b2);
                line-height: 20px;
                padding-bottom: 30px;
                font-family: $frutigerLightCond;
                 @include media($mobile) {
                    @include span-columns(3);
                    @include shift(0);
                    
                }
            }
        } 
    }
}
section.history {
    @include outer-container;
    @extend .global_pad;
    position: relative;
    padding-bottom: 0;
    div.block {
        @include span-columns(12);
        top: 0;
        h2.title {
            padding-bottom: 30px;
            font-size: 1.5em;
            color: #b2b2b2;
            font-family: $frutigerLightCond;
            @include media ($tablet) {
            }
        }
        div.description {
            p.description-text-left {
                @include span-columns(5);
                @include type($small, #b2b2b2);
                line-height: 20px;
                padding-bottom: 30px;
                font-family: $frutigerLightCond;
                 @include media($mobile) {
                    @include span-columns(3);
                    
                }
            }
            p.description-text-right {
                @include span-columns(5);
                @include shift(1);
                @include type($small, #b2b2b2);
                line-height: 20px;
                padding-bottom: 30px;
                font-family: $frutigerLightCond;
                 @include media($mobile) {
                    @include span-columns(3);
                    @include shift(0);
                    
                }
            }
        } 
    }
}
section.philosophy {
    @include outer-container;
    @extend .global_pad;
    position: relative;
    padding-bottom: 0;
    div.block {
        @include span-columns(12);
        top: 0;
        h2.title {
            padding-bottom: 30px;
            font-size: 1.5em;
            color: #b2b2b2;
            font-family: $frutigerLightCond;
            @include media ($tablet) {
            }
        }
        div.description {
            p.description-text-left {
                @include span-columns(5);
                @include type($small, #b2b2b2);
                line-height: 20px;
                padding-bottom: 30px;
                font-family: $frutigerLightCond;
                 @include media($mobile) {
                    @include span-columns(3);
                    
                }
            }
            p.description-text-right {
                @include span-columns(5);
                @include shift(1);
                @include type($small, #b2b2b2);
                line-height: 20px;
                padding-bottom: 30px;
                font-family: $frutigerLightCond;
                 @include media($mobile) {
                    @include span-columns(3);
                    @include shift(0);
                    
                }
            }
        } 
    }
}

/* ----------- VALUE PAGE -----------------------*/

.page_banner_value {
    position: relative;
    div.intro-box {
        width: 100%;
        height: auto;
        background-color: $blue;
        @include media($mobile) {
            
        }
        div.inner_banner {
            @include outer-container;
            @extend .global_pad;
            padding-top: 50px;
            padding-bottom: 50px;
            position: relative;
            height: 100%;
            div.page-name {
                @include span-columns(6);
                h1 {
                    font-family: $frutigerBoldCond;
                    font-size: 1.5em; 
                    line-height: 15px;
                    color: #b2b2b2;
                    padding-bottom: 50px;
                }
            }
            div {
                p {
                    @include span-columns(5);
                    font-family: $frutigerLightCond;
                    font-size: 1.5em;
                    line-height: 1.2;
                    color: #b2b2b2;
                    @include media($tablet) {
                        @include span-columns(3);
                         
                    }
                    @include media($mobile) {
                        @include span-columns(3);
                        font-size: 1em;
                    }
                }
            }
        }
    }
    div.actual-banner img {
        position: relative;
        display: block;
        height: auto;
        background-size: 100%;
        background-position: top;
            @include media($tablet) {

            }
            @include media($mobile) {
            background: url('../images/DW_Value-mob.jpg') no-repeat;
        }
    }
}

section.value {
    @include outer-container;
    @extend .global_pad;
    position: relative;
    padding-bottom: 0;
    div.block-value {
        @include span-columns(12);
        top: 0;
        section.description-text-left {
            @include span-columns(5);
            @include type($small, #b2b2b2);
            line-height: 20px;
            padding-bottom: 30px;
            font-family: $frutigerLightCond;
            @include media($mobile) {
                @include span-columns(3);
            }
            h3.title {
                padding-bottom: 30px;
                line-height: 1.2em;
                font-size: 1.5em;
                color: #b2b2b2;
                font-family: $frutigerLightCond;
                @include media ($tablet) {
                }   
            }
        }
        section.description-text-right {
            @include span-columns(5);
            @include shift(1);
            @include type($small, #b2b2b2);
            line-height: 20px;
            padding-bottom: 30px;
            font-family: $frutigerLightCond;
            @include media($mobile) {
                @include span-columns(3);
                @include shift(0);
            }
            h3.title {
                padding-bottom: 30px;
                line-height: 1.2em;
                font-size: 1.5em;
                color: #b2b2b2;
                font-family: $frutigerLightCond;
                @include media ($tablet) {
                }    
            } 
        } 
    }
}

div.band-container-white {
    background-color: #fff;
    width: 100%;
    height: auto;
    @include outer-container;
    @extend .global_pad;
    position: relative;
    padding-bottom: 0;
    div.block-value {
        @include span-columns(12);
        top: 0;
        section.description-text-left {
            @include span-columns(5);
            @include type($small, #b2b2b2);
            line-height: 20px;
            padding-bottom: 30px;
            font-family: $frutigerLightCond;
            @include media($mobile) {
                @include span-columns(3);
            }
            h3.title {
                padding-bottom: 30px;
                line-height: 1.2em;
                font-size: 1.5em;
                color: #b2b2b2;
                font-family: $frutigerLightCond;
                @include media ($tablet) {
                }   
            }
        }
        section.description-text-right {
            @include span-columns(5);
            @include shift(1);
            @include type($small, #b2b2b2);
            line-height: 20px;
            padding-bottom: 30px;
            font-family: $frutigerLightCond;
            @include media($mobile) {
                @include span-columns(3);
                @include shift(0);
            }
            h3.title {
                padding-bottom: 30px;
                line-height: 1.2em;
                font-size: 1.5em;
                color: #b2b2b2;
                font-family: $frutigerLightCond;
                @include media ($tablet) {
                }    
            } 
        } 
    }
}


div.band-container-gray .white {
    background-color: white;
}


section.detail-layout-value {
    @include outer-container;
    @extend .global_pad;
    div.detail {
        @include span-columns(4);
        @include omega(3n);
        margin-top: 1em;
        margin-bottom: 1em;
        position: relative;
        h3 {
            font-family: $frutigerLightCond;
            @include type($small, $blue);
            margin-bottom: 14px;
        }
        p {
            @include type($small, $gray);
            font-family: $frutigerLightCond;
        }
        @include media($tablet) {
            @include span-columns(5);
        }
        @include media($mobile) {
            @include span-columns(3);
            
        }
    }
}

.band-container-gray-letters {
    border-bottom: 1px solid #828282;
}

/* ----------- PEOPLE PAGE -----------------------*/

.page_banner_people {
    position: relative;
        div.intro-box {
            width: 100%;
            height: auto;
            background-color: $blue;
            @include media($mobile) {
                
            }
            div.inner_banner {
                @include outer-container;
                @extend .global_pad;
                padding-top: 50px;
                padding-bottom: 50px;
                position: relative;
                height: 100%;
                div.page-name {
                    @include span-columns(6);
                    h1 {
                        font-family: $frutigerBoldCond;
                        font-size: 1.5em; 
                        color: #b2b2b2;
                        line-height: 15px;
                        padding-bottom: 50px;
                    }
                }
                div {
                    p {
                        @include span-columns(5);
                        font-family: $frutigerLightCond;
                        font-size: 1.5em;
                        line-height: 1.2;
                        color: #b2b2b2;
                        @include media($tablet) {
                            @include span-columns(3);
                             
                        }
                        @include media($mobile) {
                            @include span-columns(3);
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }

section.people {
    @include outer-container;
    @extend .global_pad;
    div.person {
        @include span-columns(3);
        @include omega(4n);
        background-color: #eee;
        margin-top: 1em;
        margin-bottom: 1em;
        position: relative;
        @include media($tablet) {
            @include span-columns(3);
            @include omega(2n);
        }
        @include media($mobile) {
            @include span-columns(3);
            @include omega(4n);
        }
        
        img.person_headshot:hover {
           
        }

        div.person_name {
            position: absolute;
            height: 60px;
            bottom: 0;
            background-color: rgba($blue, 0.6);
            width: 100%;
            @include pad(0 1em);
            h1 {
                line-height: 40px;
                color: #fff;
                @include type($small, #fff);
                font-family: $frutigerLightCond;
            }
            p {
                line-height: 5px;
                color:#fff;
                font-size: 10pt;
                font-family: $frutigerLightCond;
            }
            p:hover {
                opacity: 1;
            }
            a {
                color: #fff;
                text-decoration: none;
            }
            a:hover{
                
            }
        }
        div.person_name:hover {
            background-color: rgba(black, 0.6);
        }
    }
}
/* ----------------------------- Single person people grid - mobile -----*/

section.person-info {
    @include outer-container;
    @extend .global_pad;
    div.description-person-single {
        h2.title-person-single {
            font-family: $frutigerBoldCond;
            p.sub-header {


            }
        }
    }
}

section.people-single {
    @include outer-container;
    @extend .global_pad;
    div.person-single {
        @include span-columns(3);
        @include omega(4n);
        background-color: #eee;
        margin-top: 1em;
        margin-bottom: 1em;
        position: relative;
        @include media($tablet) {
            @include span-columns(3);
            @include omega(2n);
        }
        
        img.person_headshot:hover {
           
        }

        div.person_name-single {
            position: absolute;
            height: 60px;
            bottom: 0;
            background-color: rgba($blue, 0.6);
            width: 100%;
            @include pad(0 1em);
            h1 {
                line-height: 35px;
                color: #fff;
                @include type($small, #fff);
                font-family: $frutigerLightCond;
                @include media($tablet) {
                    line-height: 25px;
                    font-size: 10pt;
                }
            }
            p {
                line-height: 20px;
                color:#fff;
                font-size: 10pt;
                font-family: $frutigerLightCond;
                @include media($tablet) {
                    line-height: 15px;
                    font-size:9pt;
                }
            }
            p:hover {
                opacity: 1;
            }
            a {
                color: #fff;
                text-decoration: none;
            }
            a:hover{
                
            }
        }
        div.person_name:hover {
            background-color: rgba(black, 0.6);
        }
    }
}


div.band-container-gray {
    background-color: #eee;
    width: 100%;
    height: auto;
}

/* ----------- LETTERS PAGE -----------------------*/

.page_banner_letters {
    
    position: relative;
    div.intro-box {
        width: 100%;
        height: auto;
        background-color: $blue;
        @include media($mobile) {
            
        }
        div.inner_banner {
            @include outer-container;
            @extend .global_pad;
            padding-top: 50px;
            position: relative;
            height: 100%;
            div.page-name {
                @include span-columns(6);
                h1 {
                    font-family: $frutigerBoldCond;
                    font-size: 1.5em;
                    line-height: 15px;
                    color: #b2b2b2;
                    padding-bottom: 50px;
                }
            }
            div {
                p {
                    @include span-columns(5);
                    font-family: $frutigerLightCond;
                    font-size: 1.5em;
                    line-height: 1.2;
                    color: #b2b2b2;
                    @include media($tablet) {
                        @include span-columns(3);
                    }
                    @include media($mobile) {
                        @include span-columns(3);
                        font-size: 1em;
                    }
                }
            }
        }
    }
    div.actual-banner img {
        position: relative;
        display: block;
        height: auto;
        background-size: 100%;
        background-position: top;
            @include media($tablet) {

            }
            @include media($mobile) {
            background: url('../images/DW_About-mob.jpg') no-repeat;
        }
    }
}

section.letters_list {
    @include outer-container;
    @extend .global_pad;
    width: 100%;
    height: auto;
    .block-row1 {
        @include span-columns(12);
        @include omega(2n);
        div.number {
            @include span-columns(6);
            @include media($tablet) {
                @include span-columns(6);
                @include omega(2n);
            }
            @include media($mobile) {
                display: block;
            }
            padding: 0 30px 30px 30px;
            h3.letter-title {
                float: left;
                font-family: $frutigerLightCond;
                font-size: 2em;
                color: $gray;
            }

            p.letter_number {
                float: right;
                font-size: 16em;
                font-family: $frutigerBoldCond;
                color: $gray;
                
            }
        }
    }
    .block-row2 {
        @include span-columns(12);
        @include omega(2n);
        div.number {
            @include span-columns(6);
            @include media($tablet) {
                @include span-columns(6);
                @include omega(2n);
            }
            @include media($mobile) {
                display: block;
            }
            padding: 0 30px 30px 30px;
            h3.letter-title {
                float: left;
                font-family: $frutigerLightCond;
                font-size: 2em;
                color: $gray;
            }
            p.letter_number {
                float: right;
                font-size: 16em;
                font-family: $frutigerBoldCond;
                color: $gray;
            }
        }
    }
    a {
        text-decoration: none;
        color: $gray;
    }

    a:hover{
        color: $blue;
    }
}

/* ----------- CONTACT PAGE -----------------------*/

section.contact_list {
    @include outer-container;
    @extend .global_pad;
    width: 100%;
    height: auto;
    div.contact {
        @include span-columns(12);
        padding: 30px 0 0 0;
        display: block;
        div.city-address { 
            @include span-columns(6);
                @include media($tablet) {
                @include span-columns(6);
                @include omega(2n);
            }
            @include media($mobile) {
                @include span-columns(3); 
            }
            float: left;
            padding: 0 30px 30px 0;
            h3.city-name {
                font-family: $frutigerLightCond;
                font-size: 2em;
                color: $gray;
                padding-bottom: 30px;
            }

            p.address-info {
                font-size: 1em;
                font-family: $frutigerLightCond;
                color: $gray;
            }
        }
        div.city-img {
            @include span-columns(6);
                @include media($tablet) {
                @include span-columns(6);
                @include omega(2n);
            }
            @include media($mobile) {
               @include span-columns(3); 
            }
        }
    }
}

#map-canvas-nyc {
    min-height: 340px;
    width: 100%;
    @include media($mobile) {
       min-height: 150px
    }
}

#map-canvas-dc {
    min-height: 340px;
    width: 100%;
    @include media($mobile) {
       min-height: 150px
    }
}

#map-canvas-boston {
    min-height: 340px;
    width: 100%;
    @include media($mobile) {
       min-height: 150px
    }
}

.gmnoprint-nyc img {
    max-width: none;
}

.gmnoprint-dc img {
    max-width: none;
}

.gmnoprint-boston img {
    max-width: none;
}

footer {
    background-color: #000;
    width: 100%;
    z-index: 999;
    height: auto;
    font-family: $frutigerLightCond;
    div.inner_footer {
        @include outer-container;
        @extend .global_pad;
        ul {
            @include span-columns(12);
            li.copyright {
                @include span-columns(6);
                @include media($mobile) {
                    @include span-columns(5);
                }
            }
            li {
                @include span-columns(3);
                display: inline-block;
                font-size: 1em;
                color: #b2b2b2;
                @include media($mobile) {
                    @include span-columns(3);
                    padding-bottom: 20px;
                    font-size: 0.7em;
                }
            }
        }   
    } 
}
  
#footer {
    background-color: #000;
    width: 100%;
    height: auto;
    z-index: 999;
    position: relative;
    bottom: 0;
    display: block;
    font-family: $frutigerLightCond;
    div.inner_footer {
        @include outer-container;
        @extend .global_pad;
        ul {
            @include span-columns(12);
            li.copyright {
                @include span-columns(6);
                @include media($mobile) {
                    @include span-columns(5);
                }
            }
            li {
                @include span-columns(3);
                display: inline-block;
                font-size: 1em;
                color: #b2b2b2;
                @include media($mobile) {
                    @include span-columns(3);
                    padding-bottom: 20px;
                    font-size: 0.7em;
                }
            }
        }   
    } 
} 


/*footer.home {
    background-color: #000;
    width: 100%;
    z-index: 999;
    height: auto;
    display: block;
    font-family: $frutigerLightCond;
    div.inner_footer {
            @include outer-container;
            @extend .global_pad;
            ul {
                @include span-columns(12);
                li.copyright {
                    @include span-columns(6);
                    @include media($mobile) {
                        @include span-columns(7);
                    }
                }
                li {
                    @include span-columns(3);
                    display: inline-block;
                    font-size: 1em;
                    color: #b2b2b2;
                    @include media($mobile) {
                        @include span-columns(4);
                        padding-bottom: 20px;
                        font-size: 0.7em;
                    }
                }
            }   
        } 
    }*/


