@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "utilities/variables";
@import "utilities/universal";


.vertical_center_parent {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    /*justify-content: center;*/
}
.global_pad {
    @include pad(2em $desk);
    @include media($tablet) {
        @include pad(2em $tab);
    }
    @include media($mobile) {
        @include pad(2em $mob);
    }
}
.sidepad {
    @include pad(0 $desk);
    @include media($tablet) {
        @include pad(0 $tab);
    }
    @include media($mobile) {
        @include pad(0 $mob);
    }
}
.inner_header {
    @extend .sidepad;
    h1 {
        a {
            @include media($tablet) {
                @include span-columns(10);
            }
        }
    }
}

h2.title-person-single {
    @include type($small, $blue);
    @include span-columns(3);
    font-family: $frutigerLightCond;
    @include media($tablet) {
        @include span-columns(12);
        padding-bottom: 2em;
    }
    @include media($mobile) {
        @include span-columns(3);
        padding-bottom: 2em;
    }
}

div.description-person-single {
    @include span-columns(8);
    @include type($small, $blue);
    font-family: $frutigerLightCond;
    @include media($tablet) {
        @include span-columns(6);
        padding-bottom: 2em;
    }
    @include media($mobile) {
        @include span-columns(3);
        padding-bottom: 2em;
    }
}

.page_banner_robert {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height: 500px;
    margin: 0 auto;
    background: url('../images/people/single/robert-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/robert-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/robert-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}

.page_banner_jay {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height: 500px;
    margin: 0 auto;
    background: url('../images/people/single/jay-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/jay-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/jay-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}

.page_banner_rossana {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height: 500px;
    margin: 0 auto;
    background: url('../images/people/single/rossana-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/rossana-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/rossana-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}

.page_banner_cgcrane {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height: 500px;
    margin: 0 auto;
    background: url('../images/people/single/cgcrane-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/cgcrane-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/cgcrane-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}

.page_banner_sonny {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height: 500px;
    margin: 0 auto;
    background: url('../images/people/single/sonny-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/sonny-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/sonny-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}
.page_banner_lea {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height: 500px;
    margin: 0 auto;
    background: url('../images/people/single/lea-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/lea-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/lea-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}

.page_banner_charlie {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height: 500px;
    margin: 0 auto;
    background: url('../images/people/single/charlie-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/charlie-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/charlie-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}

.page_banner_koren {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height: 500px;
    margin: 0 auto;
    background: url('../images/people/single/koren-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/koren-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/koren-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}

.page_banner_josh {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height: 500px;
    margin: 0 auto;
    background: url('../images/people/single/josh-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/josh-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/josh-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}

.page_banner_olivia {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height: 500px;
    margin: 0 auto;
    background: url('../images/people/single/olivia-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/olivia-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/olivia-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}

.page_banner_bryce {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height: 500px;
    margin: 0 auto;
    background: url('../images/people/single/bryce-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/bryce-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/bryce-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}

.page_banner_alex {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height: 500px;
    margin: 0 auto;
    background: url('../images/people/single/alex-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/alex-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/alex-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}

.page_banner_oak {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height: 500px;
    margin: 0 auto;
    background: url('../images/people/single/oak-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/oak-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/oak-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}

.page_banner_bowdy {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height: 500px;
    margin: 0 auto;
    background: url('../images/people/single/bowdy-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/bowdy-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/bowdy-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}


.page_banner_lisa {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height: 500px;
    margin: 0 auto;
    background: url('../images/people/single/lisa-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/lisa-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/lisa-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}

.page_banner_phil {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height: 500px;
    margin: 0 auto;
    background: url('../images/people/single/phil-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/phil-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/phil-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}

.page_banner_grant {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height: 500px;
    margin: 0 auto;
    background: url('../images/people/single/grant-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/grant-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/grant-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}

