@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "utilities/variables";
@import "utilities/universal";


.vertical_center_parent {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    /*justify-content: center;*/
}
.global_pad {
    @include pad(2em $desk);
    @include media($tablet) {
        @include pad(2em $tab);
    }
    @include media($mobile) {
        @include pad(2em $mob);
    }
}
.sidepad {
    @include pad(0 $desk);
    @include media($tablet) {
        @include pad(0 $tab);
    }
    @include media($mobile) {
        @include pad(0 $mob);
    }
}
.inner_header {
    @extend .sidepad;
    h1 {
        a {
            @include media($tablet) {
                @include span-columns(10);
            }
        }
    }
}

h2.title-person-single {
    @include type($small, $gray);
    @include span-columns(6);
    font-family: $frutigerBoldCond;
    p{
        font-family:$frutigerLightCond;
    }
    @include media($tablet) {
        @include span-columns(12);
        padding-bottom: 2em;
    }
    @include media($mobile) {
        @include span-columns(3);
        padding-bottom: 2em;
    }
}

div.description-person-single {
    @include span-columns(5);
    @include type($small, $gray);
    font-family: $frutigerLightCond;
    @include media($tablet) {
        @include span-columns(6);
        padding-bottom: 2em;
    }
    @include media($mobile) {
        @include span-columns(3);
        padding-bottom: 2em;
    }
}

/*--------- blue intro box -----*/

div.intro-box {
    width: 100%;
    height: 200px;
    background-color: $blue;
    @include media($tablet) {
        height: 250px;
    }
    div.inner_banner {
        @include outer-container;
        @extend .global_pad;
        padding-top: 50px;
        position: relative;
        height: 100%;
        div.page-name {
            @include span-columns(6);
            h1 {
                font-family: $frutigerBoldCond;
                font-size: 1.5em; 
                color: #b2b2b2;
                padding-bottom: 50px;
            }
        }
        div {
            p {
                @include span-columns(5);
                font-family: $frutigerLightCond;
                font-size: 1.5em;
                line-height: 1.1;
                color: #b2b2b2;
                @include media($tablet) {
                    @include span-columns(3);
                }
                @include media($mobile) {
                    @include span-columns(3);
                    font-size: 1em;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    section.sliderContainer {
        display: none !important;
    }
}


section.people-single-mobile {
    @include outer-container;
    @extend .global_pad;
    div.person-single {
        @include span-columns(3);
        @include omega(4n);
        background-color: #eee;
        margin-top: 1em;
        margin-bottom: 1em;
        position: relative;
        display: none;
        @include media($tablet) {
            @include span-columns(3);
            @include omega(2n);
            visibility: none !important;
        }
        @include media($mobile) {
            
            visibility: visible !important;
        }
        img.person_headshot:hover {
           
        }

        div.person_name-single {
            position: absolute;
            height: 60px;
            bottom: 0;
            background-color: rgba($blue, 0.6);
            width: 100%;
            @include pad(0 1em);
            h1 {
                line-height: 35px;
                color: #fff;
                @include type($small, #fff);
                font-family: $frutigerLightCond;
                @include media($tablet) {
                    line-height: 25px;
                    font-size: 10pt;
                }
                @include media($mobile) {
                    line-height: 20px;
                    font-size: 8pt;
                }
            }
            p {
                line-height: 20px;
                color:#fff;
                font-size: 10pt;
                font-family: $frutigerLightCond;
                @include media($tablet) {
                    line-height: 15px;
                    font-size:9pt;
                }
                @include media($mobile) {
                    line-height: 15px;
                    font-size: 8pt;
                }
                
            }
            p:hover {
                opacity: 1;
            }
            a {
                color: #fff;
                text-decoration: none;
            }
            a:hover{
                
            }
        }
        div.person_name:hover {
            background-color: rgba(black, 0.6);
        }
    }
}

/* ------ scroll side to side-----*/

section.sliderContainer {
    @include outer-container;
    .slider { 
        @include span-columns(12);
        height:185px;
        position:relative;
        #viewContainer {
            @include span-columns(10);
            height:100%;
            position:absolute;
            left: 430px;
            margin-left:-360px;
            overflow:scroll; 
                #insideContainer {
                position:absolute;
                left:0;
                width:3000px;
                .person-single{
                    background-color: #eee;
                    position: relative;
                    width: 150px;
                    vertical-align: top;
                    display: inline-block;
                    img.person_headshot {
                        height: 150px;
                    }
                    div.person_name-single {
                            position: absolute;
                            height: 50px;
                            bottom: 0;
                            background-color: rgba($blue, 0.6);
                            width: 100%;
                            @include pad(0 1em);
                            h1 {
                                margin-top: 5px;
                                line-height: 20px;
                                color: #fff;
                                @include type($small, #fff);
                                font-family: $frutigerLightCond;
                                @include media($tablet) {
                                    line-height: 25px;
                                    font-size: 10pt;
                                }
                            }
                            p {
                                line-height: 20px;
                                color:#fff;
                                font-size: 8pt;
                                font-family: $frutigerLightCond;
                                @include media($tablet) {
                                    line-height: 15px;
                                    font-size:9pt;
                                }
                            }
                            p:hover {
                                opacity: 1;
                            }
                            a {
                                color: #fff;
                                text-decoration: none;
                            }
                            a:hover{
                                
                            }
                        }
                        div.person_name:hover {
                            background-color: rgba(black, 0.6);
                        }
                }
            }
        }    
    }
}



#leftArrow img {
    margin: 60px 60px 0 0;
    position:absolute;
    left:0px;
    width: 30px;

}

#rightArrow img{ 
    margin: 60px 0 0 60px;
    position:absolute;
    right:0px;
    width: 30px;
}



/* ------ single page people banners -----*/

.page_banner_robert {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height: 550px;
    margin: 0 auto;
    background: url('../images/people/single/robert-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/robert-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/robert-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}

.page_banner_jay {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height:550px;
    margin: 0 auto;
    background: url('../images/people/single/jay-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/jay-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/jay-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}

.page_banner_rossana {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height:550px;
    margin: 0 auto;
    background: url('../images/people/single/rossana-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/rossana-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/rossana-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}

.page_banner_cgcrane {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height:550px;
    margin: 0 auto;
    background: url('../images/people/single/cgcrane-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/cgcrane-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/cgcrane-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}

.page_banner_sonny {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height:550px;
    margin: 0 auto;
    background: url('../images/people/single/sonny-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/sonny-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/sonny-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}
.page_banner_lea {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height:550px;
    margin: 0 auto;
    background: url('../images/people/single/lea-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/lea-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/lea-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}

.page_banner_charlie {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height:550px;
    margin: 0 auto;
    background: url('../images/people/single/charlie-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/charlie-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/charlie-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}

.page_banner_koren {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height:550px;
    margin: 0 auto;
    background: url('../images/people/single/koren-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/koren-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/koren-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}

.page_banner_josh {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height:550px;
    margin: 0 auto;
    background: url('../images/people/single/josh-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/josh-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/josh-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}

.page_banner_olivia {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height:550px;
    margin: 0 auto;
    background: url('../images/people/single/olivia-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/olivia-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/olivia-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}

.page_banner_bryce {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height:550px;
    margin: 0 auto;
    background: url('../images/people/single/bryce-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/bryce-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/bryce-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}

.page_banner_alex {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height:550px;
    margin: 0 auto;
    background: url('../images/people/single/alex-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/alex-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/alex-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}

.page_banner_oak {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height:550px;
    margin: 0 auto;
    background: url('../images/people/single/oak-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/oak-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/oak-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}

.page_banner_bowdy {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height:550px;
    margin: 0 auto;
    background: url('../images/people/single/bowdy-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/bowdy-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/bowdy-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}


.page_banner_lisa {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height:550px;
    margin: 0 auto;
    background: url('../images/people/single/lisa-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/lisa-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/lisa-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}

.page_banner_phil {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height:550px;
    margin: 0 auto;
    background: url('../images/people/single/phil-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/phil-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/phil-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}

.page_banner_grant {
    @include outer-container;
    background-color: #eee;
    position: relative;
    height:550px;
    margin: 0 auto;
    background: url('../images/people/single/grant-banner.jpg') center center no-repeat;
    background-size: cover;
    @include media($tablet) {
        background: url('../images/people/single/grant-banner.jpg') no-repeat;
        background-size: 100%;
        height: 300px;
    }
    @include media($mobile) {
        background: url('../images/people/single/grant-banner.jpg') no-repeat;
        background-size: 100%;
        height: 190px;
    }

}

